<!DOCTYPE html>
<html>
<head>
  <title>Gns ux</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "gns_ux/application", media: "all" %>
  <%= javascript_include_tag "gns_ux/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
