    <%= form_for([gns_core, :backend, role], html: {multipart: true}) do |f| %>
    <fieldset>
        <div class="form-group">
            <label class="d-block font-weight-semibold"><%= t('.name') %> <span class="text-danger">*</span></label>
            <input type="text" class="form-control <%= 'border-danger' if role.errors.full_messages_for(:name).present? %>" placeholder="<%= t('.enter_role_name') %>"
                name="role[name]"
                value="<%= role.name %>"
            >
            <% if role.errors.full_messages_for(:name).present? %>
                <span class="form-text text-danger"><%= role.errors.full_messages_for(:name).join('<br/>').html_safe %></span>
            <% end %>
        </div>
    </fieldset>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('.save') %></button>
        <a class="btn btn-light ml-1" href="<%= gns_core.backend_roles_path %>">
            <%= t('.cancel') %>
        </a>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        
    </script>
<% end %>