<% content_for :title do %>
    <%= t('.new_category') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i><%= t('home') %> </a>
    <a href="<%= gns_contact.backend_categories_path %>" class="breadcrumb-item"></a><%= t('.categories') %></a>
    <span class="breadcrumb-item active"><%= t('.create') %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold"></a><%= t('.category') %></span> - <%= t('.create') %></h4>
<% end %>

<% content_for :page_toolbar do %>
  
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            $('.new_category').submit(function(e) {
                e.preventDefault();
                
                var form = $(this);
                
                // clear modal trước khi chạy ajax
                contact_category_modal.clear();
                
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize() + '&layout=modal',
                }).done(function(response) {
                    // làm gì đó ở đây
                    if (typeof(newCategoryCallback) !== 'undefined') {
                        newCategoryCallback(response);
                    }
                });
                
                return false;
            });
        });
    </script>
<% end %>

<div class="row">
    <div class="col-lg-12 col-md-12">
        
        <% if @category.errors.any? %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold"><%= t('.oh_snap')%></span><%= t('.check_a_few')%>
            </div>
        <% end %>
        
        <div class="card">
            <div class="card-header header-elements-inline bg-white">
                <h5 class="card-title"><%= t('.details')%></h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <%= render 'form', category: @category %>
            </div>
        </div>
        
    </div>
</div>