<div class="card-group-control card-group-control-left" id="accordion-control">
    <div class="pt-2 pb-2">
        <h6 class="card-title">
            <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
               href="#gnsProject-tasks"><%= t('.tasks') %>
            </a>
        </h6>
        
        <div id="gnsProject-tasks" class="collapse show">
            <table class="table table-xs">
                <tbody>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.create]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.create]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.create"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.create') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.create"><%= t('.gns_project.tasks.creates') %></label>
                            </div>
                        </td>
                        <td> <%= t('.gns_project.tasks.create.decription').html_safe %> </td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.read_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.read_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.read_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.read_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.read_own"><%= t('.gns_project.tasks.read_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.read_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.read_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.read_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.read_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.read_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.read_other"><%= t('.gns_project.tasks.read_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.read_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">                                
                                <input type="hidden" name="permissions[gns_project.tasks.update_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.update_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.update_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.update_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_own"><%= t('.gns_project.tasks.update_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.update_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">                                
                                <input type="hidden" name="permissions[gns_project.tasks.update_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.update_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.update_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.update_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_other"><%= t('.gns_project.tasks.update_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.update_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.delete_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.delete_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.delete_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.delete_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.delete_own"><%= t('.gns_project.tasks.delete_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.delete_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.delete_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.delete_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.delete_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.delete_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.delete_other"><%= t('.gns_project.tasks.delete_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.delete_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">                                
                                <input type="hidden" name="permissions[gns_project.tasks.update_progress_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.update_progress_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.update_progress_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.update_progress_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_progress_own"><%= t('.gns_project.tasks.update_progress_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.update_progress_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.update_progress_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.update_progress_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.update_progress_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.update_progress_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_progress_other"><%= t('.gns_project.tasks.update_progress_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.update_progress_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.finish_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.finish_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.finish_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.finish_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.finish_own"><%= t('.gns_project.tasks.finish_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.finish_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.finish_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.finish_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.finish_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.finish_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.finish_other"><%= t('.gns_project.tasks.finish_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.finish_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.unfinish_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.unfinish_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.unfinish_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.unfinish_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.unfinish_own"><%= t('.gns_project.tasks.unfinish_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.unfinish_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.unfinish_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.unfinish_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.unfinish_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.unfinish_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.unfinish_other"><%= t('.gns_project.tasks.unfinish_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.unfinish_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.close_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.close_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.close_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.close_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.close_own"><%= t('.gns_project.tasks.close_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.close_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.close_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.close_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.close_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.close_other') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.close_other"><%= t('.gns_project.tasks.close_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.close_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.reopen_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.reopen_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.reopen_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.reopen_own') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.reopen_own"><%= t('.gns_project.tasks.reopen_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.reopen_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.tasks.reopen_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.tasks.reopen_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.tasks.reopen_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.tasks.reopen_other') %>
                                >
                                <label class="custom-control-label font-weight-semiboldss" for="gns_project.tasks.reopen_other"><%= t('.gns_project.tasks.reopen_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.tasks.reopen_other.decription').html_safe %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-group-control card-group-control-left" id="accordion-control">
    <div class="pt-2 pb-2">
        <h6 class="card-title">
            <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
               href="#gnsProject-attachments"><%= t('.attachment') %>
            </a>
        </h6>
        
        <div id="gnsProject-attachments" class="collapse show">
            <table class="table table-xs">
                <tbody>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.create]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.create]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.create"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.create') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.create"><%= t('.gns_project.attachments.creates') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.create.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.read_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.read_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.read_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.read_own') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.read_own"><%= t('.gns_project.attachments.read_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.read_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                                
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.read_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.read_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.read_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.read_other') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.read_other"><%= t('.gns_project.attachments.read_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.read_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">                                
                                <input type="hidden" name="permissions[gns_project.attachments.update_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.update_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.update_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.update_own') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.update_own"><%= t('.gns_project.attachments.update_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.update_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">                                
                                <input type="hidden" name="permissions[gns_project.attachments.update_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.update_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.update_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.update_other') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.update_other"><%= t('.gns_project.attachments.update_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.update_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.delete_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.delete_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.delete_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.delete_own') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.delete_own"><%= t('.gns_project.attachments.delete_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.delete_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.delete_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.delete_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.delete_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.delete_other') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.delete_other"><%= t('.gns_project.attachments.delete_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.delete_other.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.download_own]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.download_own]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.download_own"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.download_own') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.download_own"><%= t('.gns_project.attachments.download_owns') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.download_own.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">                    
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.attachments.download_other]" value="false">
                                <input type="checkbox" name="permissions[gns_project.attachments.download_other]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.attachments.download_other"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.attachments.download_other') %>
                                >
                                <label class="custom-control-label" for="gns_project.attachments.download_other"><%= t('.gns_project.attachments.download_others') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.attachments.download_other.decription').html_safe %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-group-control card-group-control-left" id="accordion-control">
    <div class="pt-2 pb-2">
        <h6 class="card-title">
            <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
               href="#gnsProject-logs"><%= t('.logs') %>
            </a>
        </h6>
        
        <div id="gnsProject-logs" class="collapse show">
            <table class="table table-xs">
                <tbody>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.logs.read]" value="false">
                                <input type="checkbox" name="permissions[gns_project.logs.read]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.logs.read"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.logs.read') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.logs.read"><%= t('.gns_project.logs.reads') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.logs.read.decription').html_safe %></td>
                    </tr>
                    <tr>
                        <td class="wmin-md-200">
                            <div class="custom-control custom-checkbox">
                                <input type="hidden" name="permissions[gns_project.logs.download]" value="false">
                                <input type="checkbox" name="permissions[gns_project.logs.download]" value="true"
                                    class="custom-control-input"
                                    id="gns_project.logs.download"
                                    <%= 'checked' if project_employee.employee.has_project_permission?(project_employee.project, 'gns_project.logs.download') %>
                                >
                                <label class="custom-control-label font-weight-semibold" for="gns_project.logs.download"><%= t('.gns_project.logs.downloads') %></label>
                            </div>
                        </td>
                        <td><%= t('.gns_project.logs.download.decription').html_safe %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>