<%= form_for([gns_project, :backend, stage], html: {multipart: true}) do |f| %>
    <input type="hidden" name="stage[category_id]" value="<%= stage.category_id %>" />
    <fieldset>
        <div class="form-group">
            <label class="d-block font-weight-semibold">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control <%= 'border-danger' if stage.errors.full_messages_for(:name).present? %>" placeholder="Enter name"
                name="stage[name]"
                value="<%= stage.name %>"
            >
            <% if stage.errors.full_messages_for(:name).present? %>
                <span class="form-text text-danger"><%= stage.errors.full_messages_for(:name).join('<br/>').html_safe %></span>
            <% end %>
        </div>
    </fieldset>    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
<% end %>