<p id="notice"><%= notice %></p>

<h1>Backend Stages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backend_stages.each do |backend_stage| %>
      <tr>
        <td><%= link_to 'Show', backend_stage %></td>
        <td><%= link_to 'Edit', edit_backend_stage_path(backend_stage) %></td>
        <td><%= link_to 'Destroy', backend_stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backend Stage', new_backend_stage_path %>
