<%= form_for([gns_note, :backend, personal_note], html: {multipart: true}) do |f| %>
    <div class="form-group">
        <label class="d-block"><%= t('.description') %> <span class="text-danger">*</span></label>
        <textarea rows="2" cols="5"
            class="form-control font-weight-semibold <%= 'border-danger' if personal_note.errors.full_messages_for(:description).present? %>"
            placeholder="<%= t('.enter_description') %>"
            name="personal_note[description]"
        ><%= personal_note.description %></textarea>
        <% if personal_note.errors.full_messages_for(:description).present? %>
            <span class="form-text text-danger"><%= personal_note.errors.full_messages_for(:description).join('<br/>').html_safe %></span>
        <% end %>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="d-block"><%= t(".due_date") %></label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar22"></i></span>
                    </span>
                    <input type="text" class="form-control font-weight-semibold"
                        value="<%= personal_note.due_date.strftime('%d/%m/%Y, %H:%M') if personal_note.due_date.present? %>"
                        name="personal_note[due_date]">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="d-block"><%= t(".reminder") %></label>
                <div class="input-group">
                    <select class="form-control selectAllowClear"
                        data-container-css-class="font-weight-semibold"
                        data-placeholder="<%= t(".placeholder_reminder") %>"
                        name="personal_note[reminder]"
                    >
                        <% options = GnsNote::PersonalNote::get_reminder_options() %>
                        <% options.each do |option| %>
                            <option <%= 'selected' if option[:value] == personal_note.reminder %> value="<%= option[:value] %>"><%= option[:text] %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('save') %></button>
        <button type="button" class="btn btn-light ml-1" data-dismiss="modal"><%= t('cancel') %></button>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>        
        $(function() {
            $('input[name="personal_note[due_date]"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                //showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                autoApply: true,
                locale: {
                  format: 'DD/MM/YYYY, HH:mm',
                  cancelLabel: 'Clear'
                }
            });
            
            $('input[name="personal_note[due_date]"]').on('apply.daterangepicker', function(ev, picker) {
                $('input[name="personal_note[due_date]"]').val(picker.startDate.format('DD/MM/YYYY, HH:mm'));
            });
            
            $('input[name="personal_note[due_date]"]').on('cancel.daterangepicker', function(ev, picker) {
                $('input[name="personal_note[due_date]"]').val('');
            });
        });
    </script>
<% end %>