<%= form_for([gns_note, :backend, personal_note], html: {multipart: true}) do |f| %>
    <div class="form-group">
        <label class="d-block"><%= t('.description') %> <span class="text-danger">*</span></label>
        <textarea rows="2" cols="5"
            class="form-control font-weight-semibold <%= 'border-danger' if personal_note.errors.full_messages_for(:description).present? %>"
            placeholder="<%= t('.enter_description') %>"
            name="personal_note[description]"
        ><%= personal_note.description %></textarea>
        <% if personal_note.errors.full_messages_for(:description).present? %>
            <span class="form-text text-danger"><%= personal_note.errors.full_messages_for(:description).join('<br/>').html_safe %></span>
        <% end %>
    </div>
    
    <div class="form-group">
        <label class="d-block"><%= t(".due_date") %></label>
        <div class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text"><i class="icon-calendar22"></i></span>
            </span>
            <input type="text" class="form-control font-weight-semibold"
                value="<%= personal_note.due_date.strftime('%d/%m/%Y') if personal_note.due_date.present? %>"
                name="personal_note[due_date]">
        </div>
    </div>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('save') %></button>
        <button type="button" class="btn btn-light ml-1" data-dismiss="modal"><%= t('cancel') %></button>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        $(function() {
            $('input[name="personal_note[due_date]"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                showDropdowns: true,
                locale: {
                    format: "DD/MM/YYYY"
                }
            }, function(start, end, label) {
                $('input[name="personal_note[due_date]"]').on('hideCalendar.daterangepicker', function(e) {
                  $('input[name="personal_note[due_date]"]').val('');
                });
                
                $('input[name="personal_note[due_date]"]').on('showCalendar.daterangepicker', function(e) {
                      $('input[name="personal_note[due_date]"]').val(start.format('DD/MM/YYYY'));
                });
            });
        });
    </script>
<% end %>