<% content_for :title do %>
    Project Permissions
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_core.backend_roles_path %>" class="breadcrumb-item">Project Roles</a>
    <span class="breadcrumb-item active">Permissions</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Project Role</span>: <%= @role.name %></h4>
<% end %>

<%= form_for '', url: gns_project.update_permissions_backend_roles_path(id: @role.id), html: {multipart: false, class: 'update_permissions'} do |f| %>
<div class="card">    
    <div class="card-header bg-transparent header-elements-inline">
        <h5 class="card-title">Policy Setting</h5>
        
        <div class="header-elements">            
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <ul class="nav nav-tabs nav-tabs-bottom mb-0">
            <li class="nav-item">
                <a href="#tabTask" class="nav-link active" data-toggle="tab">
                    <span class="font-weight-semibold text-blue">Task</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#tabAttachment" class="nav-link" data-toggle="tab">
                    <span class="font-weight-semibold text-blue">Attachment</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#tabLogs" class="nav-link" data-toggle="tab">
                    <span class="font-weight-semibold text-blue">Project Log</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body tab-content">
        <%= render "gns_project/backend/roles/policy/tasks", role: @role %>
        
        <%= render 'gns_project/backend/roles/policy/attachments', role: @role %>
        
        <%= render 'gns_project/backend/roles/policy/logs', role: @role %>
    </div>
</div>

<div class="text-left">
    <button type="submit" class="btn btn-primary">Apply</button>
    <a class="btn btn-light ml-1" href="<%= gns_project.backend_roles_path %>">
        Cancel
    </a>
</div>
<% end %>