<%= form_for([gns_project, :backend, task], html: {multipart: true}) do |f| %>
    <fieldset>
        <input type="hidden" name="task[project_id]" value="<%= @task.project.id %>">
        <input type="hidden" name="task[current_task_id]" value="<%= params[:current_task_id] %>">
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block"><%= t('.stage') %><span class="text-danger">*</span></label>
                    <select name="task[stage_id]" data-placeholder="<%= t('.choose_a_stage') %>"
                        class="form-control select-ajax"
                        data-url="<%= gns_project.select2_backend_stages_path(category_id: @task.project.category_id) %>"
                        data-container-css-class="font-weight-semibold <%= 'border-danger' if task.errors.full_messages_for(:stage_id).present? %>"
                    >
                        <option value=''>None</option>
                        <option selected value="<%= task.stage_id %>"><%= task.stage_name %></option>
                    </select>
                    <% if task.errors.full_messages_for(:stage_id).present? %>
                        <span class="form-text text-danger"><%= task.errors.full_messages_for(:stage_id).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="form-group">
                    <label class="d-block"><%= t('.task_description') %><span class="text-danger">*</span></label>
                    <input type="text" class="form-control font-weight-semibold <%= 'border-danger' if task.errors.full_messages_for(:name).present? %>"
                        placeholder="<%= t('.enter_the_task_description') %>"
                        name="task[name]"
                        value="<%= task.name %>"
                    >
                    <% if task.errors.full_messages_for(:name).present? %>
                        <span class="form-text text-danger"><%= task.errors.full_messages_for(:name).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
                
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-blocks"><%= t('.responsible_person') %> <span class="text-danger">*</span></label>
                    <select name="task[employee_id]" data-placeholder="<%= t('.choose_an_employee') %>"
                        class="form-control select-ajax"
                        data-url="<%= gns_employee.select2_backend_employees_path %>"
                        data-container-css-class="font-weight-semibold <%= 'border-danger' if task.errors.full_messages_for(:employee_id).present? %>"
                    >
                        <option value="<%= task.employee_id %>"><%= task.employee_name %></option>
                    </select>
                    <% if task.errors.full_messages_for(:employee_id).present? %>
                        <span class="form-text text-danger"><%= task.errors.full_messages_for(:employee_id).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="d-block"><%= t('.workday') %> <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                </span>
                                <input type="text" class="form-control daterange-dual font-weight-semibold"
                                    value="<%= @workday %>"
                                    name="task[workday]"> 
                            </div>
                            <% if task.errors.full_messages_for(:workday).present? %>
                                <span class="form-text text-danger"><%= task.errors.full_messages_for(:workday).join('<br/>').html_safe %></span>
                            <% end %>
                            <% if task.errors.full_messages_for(:start_date).present? %>
                                <span class="form-text text-danger"><%= task.errors.full_messages_for(:start_date).join('<br/>').html_safe %></span>
                            <% end %>
                            <% if task.errors.full_messages_for(:end_date).present? %>
                                <span class="form-text text-danger"><%= task.errors.full_messages_for(:end_date).join('<br/>').html_safe %></span>
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="d-block"><%= t('.hours') %></label>
                            <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.enter_hours_worked') %>"
                                name="task[hours]"
                                value="<%= task.hours %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% if !task.id.nil? %>
            <div class="form-group">
                <label class="d-block"><%= t('.remark') %> <span class="text-danger">*</span></label>
                <textarea rows="2" cols="5"
                    class="form-control font-weight-semibold <%= 'border-danger' if task.errors.full_messages_for(:remark).present? %>"
                    placeholder="<%= t('.enter_your_remark_here') %>"
                    name="remark"
                ></textarea>
                <% if task.errors.full_messages_for(:remark).present? %>
                    <span class="form-text text-danger"><%= task.errors.full_messages_for(:remark).join('<br/>').html_safe %></span>
                <% end %>
            </div>
        <% end %>
        
    </fieldset>    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('.save') %></button>
        <button type="button" class="btn btn-light ml-1" data-dismiss="modal"><%= t('.cancel') %></button>
    </div>
<% end %>