<table class="table">
    <thead>
        <tr class="alpha-primary">
            <th>No.</th>
            <th>Attached File</th>
            <th>Size</th>
            <th>Uploaded At</th>
            <th class="text-center" style="width: 100px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @attachments.each_with_index do |attachment,index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= attachment.name %></td>
                <td><%= number_to_human_size(attachment.size) %></td>
                <td><%= attachment.uploaded_at.strftime("%d/%m/%Y - %I:%M %p") %></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item edit-attachment-button"
                                    href="<%= gns_project.edit_backend_attachment_path(attachment) %>">
                                    <i class="icon-pencil7"></i> Update/Re-upload
                                </a>
                                
                                <% if can? :download, attachment %>
                                    <a class="dropdown-item"
                                       href="<%= gns_project.download_backend_attachments_path(attachment) %>">
                                        <i class="icon-download"></i> Download
                                    </a>
                                <% end %>
                                
                                <a class="dropdown-item attachment-logs-list-button"
                                   href="<%= gns_project.logs_backend_attachments_path(attachment) %>">
                                    <i class="icon-history"></i> Logs attached
                                </a>
                                
                                <% if false %>
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item ajax delete-attachment-button"
                                    href="<%= gns_project.backend_attachment_path(attachment) %>"
                                    data-method="DELETE"
                                    data-confirm="You are about to delete a attachment"
                                >
                                    <i class="icon-bin"></i> Remove
                                </a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @attachments.empty? %>
    <div class="text-center mt-3 text-danger">No attachments uploaded</div>
<% end %>