<% content_for :title do %>
    <%= t('.attachments') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_tasks_path %>" class="breadcrumb-item"><%= t('.tasks') %></a>
    <span class="breadcrumb-item active"><%= t('.attachments') %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold"><%= t('.task') %></span> - <%= @task.name %> - Attachments</h4>
<% end %>

<% content_for :page_script do %>
    <script>
        var attachment_modal = new gModal({size: 'md'});
        
        var attachment_actions_box = new ajaxBox(
            $('.attachment-actions'),
            '<%= gns_project.attachment_actions_backend_tasks_path(@task.id) %>'
        );
        
        var attachment_list_box = new ajaxBox(
            $('.attachments-list'),
            '<%= gns_project.attachments_list_backend_tasks_path(@task.id) %>',
            function(box) {
                // apply g-link
                new gLink(box.find('.delete-attachment-button, .remove-attachment-button'), function(link) {
                    attachment_list_box.load();
                });
            }
        );
        
        var attachment_logs_modal = new gModal();
        var attachment_logs_list_box = new ajaxBox(
            $('.attachment-logs-list'),
            '<%= gns_project.logs_list_backend_attachments_path %>'
        );
        
        $(function() {
            $(document).on('click', '.add-attachment-button', function(e) {
                e.preventDefault();
                var button = $(this);
                
                attachment_modal.load(button.attr('href'));
                
                newAttachmentCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        attachment_modal.hide();
                        
                        attachment_list_box.load();
                    } else {
                        // validation error
                        attachment_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-attachment-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                // load modal
                attachment_modal.load(button.attr('href'));
                
                // after update category event
                updateAttachmentCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        attachment_modal.hide();
                        
                        attachment_list_box.load();
                    } else {
                        // validation error
                        attachment_modal.renderHtml(response);
                    }
                }
            });
            
            $(document).on('change', '[name="task_id"]', function(e) {
                var url_list = '<%= gns_project.attachments_list_backend_tasks_path('ID') %>';
                var url_act = '<%= gns_project.attachment_actions_backend_tasks_path('ID') %>';
                
                if ($(this).val()) {
                    url_list = url_list.replace('ID', $(this).val());
                    attachment_list_box.url = url_list;
                    attachment_list_box.load();
                    
                    url_act = url_act.replace('ID', $(this).val());
                    attachment_actions_box.url = url_act;
                    attachment_actions_box.load();
                } else {
                    attachment_list_box.loadHtml('<div class="alert alert-warning">No task selected!</div>');
                }
            });
            
            
            // Danh sach attachment /cac phien ban moi nhat
            attachment_list_box.load();
            attachment_actions_box.load();
            
            $(document).on('click', '.attachment-logs-list-button', function(e) {
                e.preventDefault();
                
                attachment_logs_modal.load($(this).attr('href'));
            });
            
            // Danh sach attachment /nhat ky tat ca phien ban
            //attachment_logs_list_box.load();
        });
    </script>
<% end %>

<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title"><%= t('.attached_details') %></h6>
        <div class="header-elements">
            <div class="list-icons">
                <div class="attachment-actions">
                    
                </div>
                
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label class="d-blocks"><%= t('.stage_name_task_description') %></label>
                <select name="task_id" data-placeholder="Filter by stage..."
                    class="form-control select-ajax"
                    data-url="<%= gns_project.select2_backend_tasks_path(project_id: @task.project_id, include_stage_name: true) %>"
                    data-container-css-class="font-weight-semibold"
                >
                    <option value="<%= @task.id %>"><%= @task.name_with_stage %></option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="attachments-list" style="position: relative"></div>
</div>