<div class="card-header bg-white pb-0 pt-sm-0 header-elements-sm-inline">
    <h6 class="card-title"><%= title %></h6>
    <div class="header-elements">
        <ul class="nav nav-tabs nav-tabs-bottom card-header-tabs mx-0">
            <li class="nav-item">
                <a href="<%= gns_contact.backend_contact_path(@contact) %>"
                    class="nav-link <%= 'modal-control' if request.xhr? %>" modal-size="full"
                    data-menu="gns_contact/backend/contacts/show"
                >
                    <i class="icon-info22 mr-1"></i>
                    General Infomation
                </a>
            </li>
            <li class="nav-item">
                <a
                    data-menu="gns_contact/backend/contacts/projects"
                    href="<%= gns_contact.projects_backend_contacts_path(@contact.id) %>"
                    class="nav-link <%= 'modal-control' if request.xhr? %>" modal-size="full">
                        <i class="icon-design mr-1"></i>
                        Projects
                </a>
            </li>
            <div class="list-icons ml-3">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu7"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Update</a>
                        <a href="#" class="dropdown-item">Delete</a>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>