<div class="card-header bg-white pb-0 pt-sm-0 header-elements-sm-inline">
    <h6 class="card-title"><%= title %></h6>
    <div class="header-elements">
        <ul class="nav nav-tabs nav-tabs-bottom card-header-tabs mx-0">
            <li class="nav-item">
                <a href="<%= gns_contact.backend_contact_path(@contact) %>"
                    class="nav-link <%= 'modal-control' if request.xhr? %>" modal-size="full"
                    data-menu="gns_contact/backend/contacts/show"
                >
                    <i class="icon-info22 mr-1"></i>
                    Contact person
                </a>
            </li>
            <li class="nav-item mr-3">
                <a
                    data-menu="gns_contact/backend/contacts/projects"
                    href="<%= gns_contact.projects_backend_contacts_path(@contact.id) %>"
                    class="nav-link <%= 'modal-control' if request.xhr? %>" modal-size="full">
                        <i class="icon-design mr-1"></i>
                        Project list
                </a>
            </li>
            
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </ul>
    </div>
</div>