<%= form_for([gns_contact, :backend, contact], html: {multipart: true}) do |f| %>

    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block"><%= t('.code') %> <span class="text-danger">*</span></label>
                    <input type="text"
                        class="form-control font-weight-semibold <%= 'border-danger' if contact.errors.full_messages_for(:code).present? %>"
                        placeholder="<%= t('.placeholder_code') %>"
                        name="contact[code]"
                        value="<%= contact.code %>"
                    >
                    <% if contact.errors.full_messages_for(:code).present? %>
                        <span class="form-text text-danger"><%= contact.errors.full_messages_for(:code).join('<br/>').html_safe %></span>
                    <% end %>
                </div>          
            </div>
            <div class="col-md-6">                    
                <div class="form-group">
                    <label class="d-block"><%= t('.contact_group') %> <span class="text-danger">*</span></label>
                    <select class="form-control select-ajax"
                        data-container-css-class="font-weight-semibold <%= 'border-danger' if contact.errors.full_messages_for(:categories).present? %>"
                        data-placeholder="<%= t('.placeholder_choose_group') %>"
                        data-url="<%= gns_contact.select2_backend_categories_path %>"
                        name="contact[category_ids][]"
                    >
                        <% values = contact.categories.map {|cat| {text: cat.name, value: cat.id}} %>
                        <% values.each do |value| %>
                            <% if value[:value].present? %>
                                <option selected="selected" value="<%= value[:value] %>"><%= value[:text] %></option>
                            <% end %>
                        <% end %>
                    </select>
                    <% if contact.errors.full_messages_for(:categories).present? %>
                        <span class="form-text text-danger"><%= contact.errors.full_messages_for(:categories).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block"><%= t('.full_name') %> <span class="text-danger">*</span></label>
                    <input type="text"
                        class="form-control font-weight-semibold <%= 'border-danger' if contact.errors.full_messages_for(:full_name).present? %>"
                        placeholder="<%= t('.placeholder_enter_full_name') %>"
                        name="contact[full_name]"
                        value="<%= contact.full_name %>"
                    >
                    <% if contact.errors.full_messages_for(:full_name).present? %>
                        <span class="form-text text-danger"><%= contact.errors.full_messages_for(:full_name).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block"><%= t('.foreign_name') %></label>
                    <input type="text"
                        class="form-control font-weight-semibold"
                        placeholder="<%= t('.placeholder_enter_foreign_name') %>"
                        name="contact[foreign_name]"
                        value="<%= contact.foreign_name %>"
                    >
                </div>
            </div>
        </div>
        
        <% if false %>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="d-block"><%= t('.business_partner_type') %> <span class="text-danger">*</span></label>
                        <select class="form-control selectAllowClear"
                            data-container-css-class="font-weight-semibold"
                            data-placeholder="<%= t('.placeholder_select_business_partner_type') %>"
                            data-fouc
                            name="contact[contact_type]"
                        >
                            <option></option>
                            <% options = GnsContact::Contact::get_type_options() %>
                            <% options.each do |option| %>
                                <option <%= 'selected' if option[:value] == contact.contact_type %> value="<%= option[:value] %>"><%= option[:text] %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
            </div>
        <% end %>
    </fieldset>
    
    <fieldset>
        <a class="collapsed text-default" data-toggle="collapse" href="#collapsible-control-group">
            <legend><span class="font-weight-semibold text-uppercase font-size-sm text-info-700"><%= t('.other_information') %></span> (<%= t('.more_here') %>)</legend>
        </a>
        <div id="collapsible-control-group" class="collapse">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="d-block"><%= t('.telephone') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_telephone_number') %>"
                            name="contact[phone]"
                            value="<%= contact.phone %>"
                        >
                    </div>
                    <div class="form-group">
                        <label class="d-block"><%= t('.mobile') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_mobile_number') %>"
                            name="contact[mobile]"
                            value="<%= contact.mobile %>"
                        >
                    </div>
                    <div class="form-group">
                        <label class="d-block"><%= t('.fax') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_fax_number') %>"
                            name="contact[fax]"
                            value="<%= contact.fax %>"
                        >
                    </div>
                    <div class="form-group">
                        <label class="d-block"><%= t('.tax_code') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_tax_code') %>"
                            name="contact[tax_code]"
                            value="<%= contact.tax_code %>"
                        >
                    </div>
                    <div class="form-group">
                        <label class="d-block"><%= t('.email') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_email') %>"
                            name="contact[email]"
                            value="<%= contact.email %>"
                        >
                    </div>
                    <div class="form-group">
                        <label class="d-block"><%= t('.website') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_website') %>"
                            name="contact[website]"
                            value="<%= contact.website %>"
                        >
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="d-block"><%= t('.country') %></label>
                        <select class="form-control font-weight-semibold select-ajax"
                            data-container-css-class="font-weight-semibold"
                            data-placeholder="<%= t('.placeholder_choose_country') %>"
                            data-url="<%= gns_area.select2_backend_countries_path %>"
                            name="contact[country_id]"
                        >
                            <option value="<%= contact.country_id %>"><%= contact.country_name %></option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label class="d-block"><%= t('.state_province') %></label>
                        <select class="form-control font-weight-semibold select-ajax"
                            data-container-css-class="font-weight-semibold"
                            data-placeholder="<%= t('.placeholder_choose_state_province') %>"
                            data-url="<%= gns_area.select2_backend_states_path %>"
                            name="contact[state_id]"
                        >
                            <option value="<%= contact.state_id %>"><%= contact.state_name %></option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label class="d-block"><%= t('.district_town_city') %></label>
                        <select class="form-control font-weight-semibold select-ajax"
                            data-container-css-class="font-weight-semibold"
                            data-placeholder="<%= t('.placeholder_choose_district_town_city') %>"
                            data-url="<%= gns_area.select2_backend_districts_path %>"
                            name="contact[district_id]"
                        >
                            <option value="<%= contact.district_id %>"><%= contact.district_name %></option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label class="d-block"><%= t('.address') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_address') %>"
                            name="contact[address]"
                            value="<%= contact.address %>"
                        >
                    </div>
                    
                    <div class="form-group">
                        <label class="d-block"><%= t('.invoice_address') %></label>
                        <input type="text" class="form-control font-weight-semibold" placeholder="<%= t('.placeholder_enter_address_for_invoice') %>"
                            name="contact[invoice_address]"
                            value="<%= contact.invoice_address %>"
                        >
                    </div>
                    
                    <div class="form-group">
                        <label class="d-block"><%= t('.belongs_to_parent') %></label>
                        <select class="form-control select-ajax"
                            data-container-css-class="font-weight-semibold"
                            data-placeholder="<%= t('.placeholder_belongs_to_parent') %>"
                            data-url="<%= gns_contact.select2_backend_contacts_path(current_contact_id: contact.id) %>"
                            name="contact[parent_ids][]"
                        >
                            <% values = contact.parent.map {|c| {text: c.name, value: c.id}} %>
                            <% values.each do |value| %>
                                <% if value[:value].present? %>
                                    <option selected="selected" value="<%= value[:value] %>"><%= value[:text] %></option>
                                <% end %>
                            <% end %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <div class="form-group">
            <label class="d-block"><%= t('.remark') %></label>
            <textarea rows="2" cols="5"
                class="form-control"
                placeholder="<%= t('.placeholder_enter_your_remark_here') %>"
                name="contact[description]"
            ><%= contact.description %></textarea>
        </div>
        
        <div class="form-group">
            <div class="form-check form-check-inline form-check-right form-check-switchery">
                <label class="form-check-label">
                    <%= t('.set_active') %>
                    <input type="hidden" name="contact[active]" value="false" />
                    <input type="checkbox" class="form-check-input-switchery"
                        name="contact[active]"
                        value="true"
                        <%= 'checked' if contact.active? %>
                    >
                </label>
            </div>
        </div>
    </fieldset>
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t('save') %></button>
        <a class="btn btn-light ml-1" href="<%= gns_contact.backend_contacts_path %>">
            <%= t('cancel') %>
        </a>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            // Select2 ajax
            $('select[name="contact[state_id]"]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    dropdownParent: $(this).parent(),
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                country_id: $('select[name="contact[country_id]"]').select2('val'),
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('select[name="contact[district_id]"]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    dropdownParent: $(this).parent(),
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                state_id: $('select[name="contact[country_id]"]').select2('val'),
                                state_id: $('select[name="contact[state_id]"]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('select[name="contact[state_id]"]').change(function() {
                $('select[name="contact[district_id]"]').val(null).trigger('change');
            });
            
            $('select[name="contact[country_id]"]').change(function() {
                $('select[name="contact[state_id]').val(null).trigger('change');
                $('select[name="contact[district_id]').val(null).trigger('change');
            });
        });
    </script>
<% end %>
