<%= form_for([gns_contact, :backend, contact], html: {multipart: true}) do |f| %>

    <fieldset>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="card-img-actions mx-1 mt-1">
                        <img class="card-img img-fluid" src="/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg" alt="">
                        <div class="card-img-actions-overlay card-img">
                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-bin"></i>
                            </a>
        
                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                <i class="icon-file-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter code (or Generate code automatically)">
                </div>
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control <%= 'border-danger' if contact.errors.full_messages_for(:full_name).present? %>" placeholder="Enter full name"
                        name="contact[full_name]"
                        value="<%= contact.full_name %>"
                    >
                    <% if contact.errors.full_messages_for(:full_name).present? %>
                        <span class="form-text text-danger"><%= contact.errors.full_messages_for(:full_name).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Phone</label>
                    <input type="text" class="form-control" placeholder="+84-99-9999-9999"
                        name="contact[phone]"
                        value="<%= contact.phone %>"
                    >
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Email</label>
                    <input type="text" class="form-control" placeholder="username@sao-ee.vn"
                        name="contact[email]"
                        value="<%= contact.email %>"
                    >
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend class="font-weight-semibold text-uppercase font-size-sm">Other Information</legend>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Birthday</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                        </span>
                        <input type="text" class="form-control daterange-single" value="" name="contact[birthday]">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Gender <span class="text-danger">*</span></label>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="radio-button" name="contact[gender]" value="male" checked data-fouc>
                            Male
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="radio-button" name="contact[gender]" value="female" data-fouc>
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Country</label>
                    <select name="contact[country_id]" data-placeholder="Choose country"
                        class="form-control select-ajax"
                        data-url="<%= gns_area.select2_backend_countries_path %>">
                        <option value="<%= contact.country_id %>"><%= contact.country_name %></option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">State/Province</label>
                    <select name="contact[state_id]" data-placeholder="Choose state/province"
                        class="form-control select-ajax-state"
                        data-url="<%= gns_area.select2_backend_states_path %>">
                        <option value="<%= contact.state_id %>"><%= contact.state_name %></option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">District/Town/City</label>
                    <select name="contact[district_id]" data-placeholder="Choose district/town/city"
                        class="form-control select-ajax-district"
                        data-url="<%= gns_area.select2_backend_districts_path %>">
                        <option value="<%= contact.district_id %>"><%= contact.district_name %></option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Address</label>
                    <input type="text" class="form-control" placeholder="Enter address"
                        name="contact[address]"
                        value="<%= contact.address %>"
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">                    
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Contact group <span class="text-danger">*</span></label>
                    <select name="contact[category_ids][]" data-placeholder="Choose group"
                        class="form-control select-ajax" multiple
                        data-url="<%= gns_contact.select2_backend_categories_path %>">
                        <% values = contact.categories.map {|cat| {text: cat.name, value: cat.id}} %>
                        <% values.each do |value| %>
                            <% if value[:value].present? %>
                                <option selected="selected" value="<%= value[:value] %>"><%= value[:text] %></option>
                            <% end %>
                        <% end %>
                    </select>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Parent contact</label>
                    <select name="contact[parent_id]" data-placeholder="Select parent contact" class="form-control select form-control-select2" data-fouc>
                        <option></option>
                        <option value="1">Canada</option> 
                        <option value="2">USA</option> 
                        <option value="3">Australia</option> 
                        <option value="4">Germany</option> 
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-light ml-1" href="<%= gns_contact.backend_contacts_path %>">
            Cancel
        </a>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            // Select2 ajax
            $('.select-ajax-state').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                country_id: $('select[name="contact[country_id]"]').select2('val'),
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            $('.select-ajax-district').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                state_id: $('select[name="contact[state_id]"]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            $('select[name="contact[state_id]"]').change(function() {
                $('select[name="contact[district_id]"]').val(null).trigger('change');
            });
            
            $('select[name="contact[country_id]"]').change(function() {
                $('select[name="contact[state_id]').val(null).trigger('change');
                $('select[name="contact[district_id]').val(null).trigger('change');
            });
        });
    </script>
<% end %>
