<div class="card">
    <div class="card-header bg-white header-elements-sm-inline">
        <h6 class="card-title"><%= t('.contact_details') %></h6>
        <div class="header-elements">
            <div class="btn-group mr-3">
                <button type="button" class="btn bg-blue-600 dropdown-toggle" data-toggle="dropdown"><%= t('.actions') %></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if can? :update, @contact %>
                        <a class="dropdown-item add-current-contact-button"
                            href="<%= gns_contact.edit_backend_contact_path(@contact) %>">
                            <i class="icon-pencil5"></i><%= t('.update_info') %> 
                        </a>
                    <% end %>
                </div>
            </div>
            
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <ul class="media-list">
            <div class="row">
                <div class="col-md-6">
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.code') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.code %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.full_name') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.foreign_name') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.foreign_name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.contact_group') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <% @contact.categories.map {|cat| {text: cat.name, value: cat.id}}.each do |value| %>
                                <% if value[:value].present? %>
                                    <%= value[:text] %>
                                <% end %>
                            <% end %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.business_partner_type') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= t @contact.contact_type %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.company') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.parent.present? ? @contact.parent.last.name : '--' %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.address') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= display_address(@contact) %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.email') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= mail_to @contact.email, @contact.email if @contact.email.present? %>
                        </div>
                    </li>
                </div>
                    
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.telephone') %></div>
                                </div>
            
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @contact.phone %>
                                </div>
                            </li>
                        </div>
                        
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.mobile') %></div>
                                </div>
            
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @contact.mobile %>
                                </div>
                            </li>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.fax') %></div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @contact.fax %>
                                </div>
                            </li>
                        </div>
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.tax_id') %></div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @contact.tax_code %>
                                </div>
                            </li>
                        </div>
                    </div>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.invoice_address') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.invoice_address %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.status') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= display_active(@contact.active) %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.added_by') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center">
                            <%= current_user.short_name %>
                        </div>
                    </li>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.created') %></div>
                                </div>
            
                                <div class="ml-3 align-self-center text-muted">
                                    <%= @contact.created_at.strftime('%d/%m/%Y - %T') %>
                                </div>
                            </li>
                        </div>
                        
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.last_updated') %></div>
                                </div>
            
                                <div class="ml-3 align-self-center text-muted">
                                    <%= @contact.updated_at.strftime('%d/%m/%Y - %T') %>
                                </div>
                            </li>
                        </div>
                    </div>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.remark') %></div>
                        </div>
    
                        <div class="ml-3 align-self-center text-blue-800">
                            <%= @contact.description %>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>

<% content_for :page_script do %>
    <script>
        var contact_modal = new gModal();
        var updateContactCallback;
        $(function() {            
            $('.add-current-contact-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                contact_modal.load(button.attr('href'));
                
                updateContactCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        contact_modal.hide();
                        
                        // reload loaction windows
                        location.reload(true);
                    } else {
                        // validation error
                        contact_modal.renderHtml(response);
                    }           
                };
            });
        });
    </script>
<% end %>