<% content_for :title do %>
    Contact Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Contacts</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary create-contact-button" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Create Contact
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            // Create contact by modal
            $('.create-contact-button').click(function(e) {
                e.preventDefault();
                
                contact_modal = new gModal();
                contact_modal.load($(this).attr('href'));
            });
            
            // Select2 ajax
            $('[name=country_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=state_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                country_id: $('[name=country_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=district_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                state_id: $('[name=state_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=state_id]').change(function() {
                $('[name=district_id]').val(null).trigger('change');
            });
            
            $('[name=country_id]').change(function() {
                $('[name=state_id]').val(null).trigger('change');
                $('[name=district_id]').val(null).trigger('change');
            });
        });
    </script>
<% end %>

<!-- Datatable -->
<div class="card datalist"
    data-url="<%= gns_contact.list_backend_contacts_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Contact list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="country_id" data-placeholder="Select a country..."
                          class="form-control select-ajax"
                          data-url="<%= gns_area.select2_backend_countries_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="state_id" data-placeholder="Select a state..."
                          class="form-control select-ajax"
                          data-url="<%= gns_area.select2_backend_states_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="district_id" data-placeholder="Select a district..."
                          class="form-control"
                          data-url="<%= gns_area.select2_backend_districts_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="category_ids[]" data-placeholder="Select the categories..."
                          class="form-control select-ajax" multiple
                          data-url="<%= gns_contact.select2_backend_categories_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="types[]" data-placeholder="Select types..." class="form-control select" multiple="multiple" data-fouc>
                            <option value="customer">Customer</option>
                            <option value="supplier">Supplier</option>
                            <option value="agent">Agent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="text-left text-nowrap flex">
                    <div class="keyword-search flex  align-center mr-3">
                        <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to filter...">
                    </div>
                    <div class="flex align-center">
                        <span class="mr-1">Show columns:</span>
                        <select class="form-control multiselect" multiple="multiple" data-fouc>
                            <option value="1">Code</option>
                            <option value="2">Fullname</option>
                            <option value="3">Email</option>
                            <option value="4">Phone number</option>
                            <option value="5">Address</option>
                            <option value="6">Status</option>
                            <option value="7">Created at</option>
                            <option value="8">Updated at</option>
                        </select>
                    </div>
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1">Sort by:</span>
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control select select-not-search-field sort-by-select" data-fouc>
                            <option value="full_name">code</option>
                            <option value="full_name">fullname</option>
                            <option value="created_at">created_at</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1">Per page:</span>
                        <select name="per_page" class="form-control select select-not-search-field per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="table-responsive datalist-content">
            
        </div>
    </form>
</div>