<% content_for :title do %>
    Contact Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Contacts</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-contact-button" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Create Contact
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        var contact_modal = new gModal();
        var updateContactCallback;
        var newContactCallback;
        
        $(function() {            
            $('.add-contact-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                contact_modal.load(button.attr('href'));
                
                newContactCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        contact_modal.hide();
                        
                        datalists[$('.datalist-contacts').attr('data-id')].refresh();          
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        contact_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-contact-button', function(e) {
                e.preventDefault();
                
                var but = $(this);
                
                // load modal edit category
                contact_modal.load(but.attr('href'));
                
                // after update category event
                updateContactCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        contact_modal.hide();
                        
                        datalists[but.closest('.datalist').attr('data-id')].refresh();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        contact_modal.renderHtml(response);
                    }           
                }
                    
            });
        });
        
        
        $(document).ready(function() {
            
            // Select2 ajax
            $('[name=country_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=state_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                country_id: $('[name=country_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=district_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                state_id: $('[name=state_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=state_id]').change(function() {
                $('[name=district_id]').val(null).trigger('change');
            });
            
            $('[name=country_id]').change(function() {
                $('[name=state_id]').val(null).trigger('change');
                $('[name=district_id]').val(null).trigger('change');
            });
        });
    </script>
<% end %>
<!-- Datatable -->
<div class="card datalist datalist-contacts"
    data-url="<%= gns_contact.list_backend_contacts_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Contact list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="country_id" data-placeholder="Filter by country..."
                          class="form-control select-ajax"
                          data-url="<%= gns_area.select2_backend_countries_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="state_id" data-placeholder="Filter by state..."
                          class="form-control select-ajax"
                          data-url="<%= gns_area.select2_backend_states_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="district_id" data-placeholder="Filter by district..."
                          class="form-control select-ajax"
                          data-url="<%= gns_area.select2_backend_districts_path %>">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="active" data-placeholder="Filter by status..."
                            class="form-control selectAllowClear" data-fouc>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="category_ids[]" data-placeholder="Filter by group..."
                          class="form-control select-ajax"
                          data-url="<%= gns_contact.select2_backend_categories_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectAllowClear"
                        data-placeholder="Filter by business partner type..."
                        data-fouc
                        name="contact_type"
                    >
                        <option></option>
                        <% options = GnsContact::Contact::get_type_options() %>
                        <% options.each do |option| %>
                            <option value="<%= option[:value] %>"><%= option[:text] %></option>
                        <% end %>
                    </select>
                </div>
                <div class="col-md-3 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="text-left text-nowrap flex">
                    <div class="keyword-search flex align-center mr-3">
                        <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to filter...">
                    </div>
                    <div class="flex align-center">
                        <span class="mr-1">Show columns:</span>
                        <select name="show_columns[]" class="form-control multiselect show-columns-select" multiple="multiple">
                            <option value="code" selected>Code</option>
                            <option value="full_name" selected>Full name</option>
                            <option value="foreign_name">Foreign name</option>
                            <option value="contact_group" selected>Group</option>
                            <option value="business_partner_type">Business Partner Type</option>
                            <option value="tax_code" selected>Tax ID</option>
                            <option value="email">Email</option>
                            <option value="phone_number">Phone number</option>
                            <option value="address" selected>Address</option>
                            <option value="status" selected>Status</option>
                            <option value="created_at" selected>Created at</option>
                            <option value="updated_at">Updated at</option>
                        </select>
                    </div>
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1">Sort by:</span>
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control selectPrimary sort-by-select">
                            <option value="created_at">created_at</option>
                            <option value="code">code</option>
                            <option value="full_name">fullname</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1">Per page:</span>
                        <select name="per_page" class="form-control selectPrimary per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="table-responsive datalist-content">
            
        </div>
    </form>
</div>