<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <th class="text-nowrap">Code</th>
            <th class="text-nowrap">Full Name</th>
            <th class="text-nowrap">Email</th>
            <th class="text-nowrap">Phone Number</th>
            <th class="text-nowrap">Address</th>
            <th class="text-nowrap">Created At</th>
            <th class="text-nowrap">Status</th>
            <th class="text-nowrap">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @contacts.each do |contact| %>
            <tr>
                <td><%= contact.code %></td>
                <td>
                    <a href="<%= gns_contact.backend_contact_path(contact) %>"
                      class="modal-control" modal-size="full">
                        <%= contact.full_name %>
                    </a>
                </td>
                <td><%= contact.email %></td>
                <td><%= contact.phone %></td>
                <td><%= contact.get_full_address %></td>
                <td title="<%= contact.created_at.strftime("%d/%m/%Y - %T") %>">
                    <%= contact.created_at.strftime("%d/%m/%Y") %>
                </td>
                <td>
                    <span class="badge badge-<%= contact.get_status_label %>"><%= t contact.get_status_label %></span>
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="<%= gns_contact.backend_contact_path(contact) %>" class="dropdown-item">
                                    <i class="icon-file-eye"></i> View
                                </a>
                                <a class="dropdown-item"
                                    href="<%= gns_contact.edit_backend_contact_path(contact) %>">
                                    <i class="icon-pencil7"></i> Update
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item ajax datalist-g-link"
                                    href="<%= gns_contact.backend_contact_path(contact) %>"
                                    data-method="DELETE"
                                    data-confirm="You are about to delete a contact"
                                >
                                    <i class="icon-bin"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <!-- Showing 1 to 10 of 19 entries -->
        <%= page_entries_info @contacts %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @contacts, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>