<% params["show_columns"] = [] if !params["show_columns"].present? %>
<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <% if params["show_columns"].include?("code") %>
                <th class="text-nowrap"><%= t(".code") %></th>
            <% end %>
            <% if params["show_columns"].include?("full_name") %>
                <th class="text-nowrap"><%= t(".full_name") %></th>
            <% end %>
            <% if params["show_columns"].include?("foreign_name") %>
                <th class="text-nowrap"><%= t(".foreign_name") %></th>
            <% end %>
            <% if params["show_columns"].include?("contact_group") %>
                <th class="text-nowrap"><%= t(".group") %></th>
            <% end %>
            <% if params["show_columns"].include?("business_partner_type") %>
                <th class="text-nowrap"><%= t(".bus_p_type") %></th>
            <% end %>
            <% if params["show_columns"].include?("belongs_to") %>
                <th class="text-nowrap"><%= t(".belongs_to") %></th>
            <% end %>
            <% if params["show_columns"].include?("tax_code") %>
                <th class="text-nowrap"><%= t(".tax_id") %></th>
            <% end %>
            <% if params["show_columns"].include?("email") %>
                <th class="text-nowrap"><%= t(".email") %></th>
            <% end %>
            <% if params["show_columns"].include?("phone_number") %>
                <th class="text-nowrap"><%= t(".phone_number") %></th>
            <% end %>
            <% if params["show_columns"].include?("address") %>
                <th class="text-nowrap"><%= t(".address") %></th>
            <% end %>
            <% if params["show_columns"].include?("status") %>
                <th class="text-nowrap"><%= t("status") %></th>
            <% end %>
            <% if params["show_columns"].include?("created_at") %>
                <th class="text-nowrap"><%= t("created_at") %></th>
            <% end %>
            <% if params["show_columns"].include?("updated_at") %>
                <th class="text-nowrap"><%= t("updated_at") %></th>
            <% end %>
            <th class="text-nowrap text-right"><%= t("actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @contacts.each do |contact| %>
            <tr>
                <% if params["show_columns"].include?("code") %>
                    <td><%= contact.code.present? ? contact.code : '--' %></td>
                <% end %>
                <% if params["show_columns"].include?("full_name") %>
                    <td>
                        <a href="<%= gns_contact.backend_contact_path(contact) %>"
                          class="modal-control" modal-size="lg">
                            <%= contact.full_name %>
                        </a>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("foreign_name") %>
                    <td><%= contact.foreign_name %></td>
                <% end %>
                <% if params["show_columns"].include?("contact_group") %>
                    <td><%= contact.categories.last.name %></td>
                <% end %>
                <% if params["show_columns"].include?("business_partner_type") %>
                    <td><%= t contact.contact_type %></td>
                <% end %>
                <% if params["show_columns"].include?("belongs_to") %>
                    <td>
                        <%= contact.parent.map {|p| "#{p.full_name}"}.join('<br>').html_safe %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("tax_code") %>
                    <td><%= contact.tax_code %></td>
                <% end %>
                <% if params["show_columns"].include?("email") %>
                    <td><%= contact.email %></td>
                <% end %>
                <% if params["show_columns"].include?("phone_number") %>
                    <td><%= contact.phone %></td>
                <% end %>
                <% if params["show_columns"].include?("address") %>
                    <td><%= contact.get_full_address %></td>
                <% end %>
                <% if params["show_columns"].include?("status") %>
                    <td>
                        <span class="badge badge-<%= contact.get_status_label %>"><%= t contact.get_status_label %></span>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("created_at") %>
                    <td title="<%= contact.created_at.strftime("%d/%m/%Y - %T") %>">
                        <%= contact.created_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("updated_at") %>
                    <td title="<%= contact.updated_at.strftime("%d/%m/%Y - %T") %>">
                        <%= contact.updated_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <td class="text-right">
                    <div class="list-icons">
                        <% if (can? :read, contact) or (can? :update, contact) or
                            (can? :activate, contact) or (can? :deactivate, contact) or
                            (can? :delete, contact) %>
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if can? :read, contact %>
                                        <a href="<%= gns_contact.backend_contact_path(contact) %>" class="dropdown-item">
                                            <i class="icon-file-eye"></i><%= t('.view_details') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :update, contact %>
                                        <% if contact.contact_type == GnsContact::Contact::TYPE_COMPANY %>
                                            <a class="dropdown-item edit-contact-button"
                                                href="<%= gns_contact.edit_backend_contact_path(contact) %>">
                                                <i class="icon-pencil7"></i><%= t('.update_info') %> 
                                            </a>
                                        <% end %>
                                        <% if contact.contact_type == GnsContact::Contact::TYPE_PERSON %>
                                            <a class="dropdown-item edit-contact-button"
                                                href="<%= gns_contact.subcontact_edit_backend_contacts_path(contact) %>">
                                                <i class="icon-pencil7"></i><%= t('.update_info') %>
                                            </a>
                                        <% end %>
                                    <% end %>
                                    
                                    <% if can? :activate, contact %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_contact.activate_backend_contacts_path(id: contact) %>"
                                            data-method="PUT"
                                            data-confirm="You want to activate a contact"
                                        >
                                            <i class="icon-checkmark4"></i><%= t('.activate') %> 
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :deactivate, contact %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_contact.deactivate_backend_contacts_path(id: contact) %>"
                                            data-method="PUT"
                                            data-confirm="You are about to de-activate a contact"
                                        >
                                            <i class="icon-blocked"></i><%= t('.de-activate') %> 
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :delete, contact %>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_contact.backend_contact_path(contact) %>"
                                            data-method="DELETE"
                                            data-confirm="You are about to delete a contact"
                                        >
                                            <i class="icon-bin"></i><%= t('.delete') %> 
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <!-- Showing 1 to 10 of 19 entries -->
        <%= page_entries_info @contacts %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @contacts, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>