<% content_for :title do %>
    Show Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_contact.backend_contacts_path %>" class="breadcrumb-item">Contacts</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span> - Show: <%= @contact.full_name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Add new
    </a>
<% end %>

<div class="row">
    <div class="col-md-12">
        
        <!-- Bottom tabs -->
        <div class="card">
            
            <%= render "contact_menu", title: 'Contact Details' %>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tab-pane fade show active" id="bottom-tab1">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Full name:</td>
                                        <td class="text-right"><a href="#">Singular app</a></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Email:</td>
                                        <td class="text-right">
                                            lahum@gmail.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Type:</td>
                                        <td class="text-right">VIP, Normal</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Status:</td>
                                        <td class="text-right"><span class="badge badge-info">Active</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-pane fade show active" id="bottom-tab1">
                            <table class="table">
                                <tbody>                                        
                                    <tr>
                                        <td class="font-weight-semibold">Added by:</td>
                                        <td class="text-right"><a href="#">Winnie</a></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Updated:</td>
                                        <td class="text-right text-muted">12 May, 2015</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Created:</td>
                                        <td class="text-right text-muted">25 Feb, 2015</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bottom tabs -->
        
    </div>
</div>