<% content_for :title do %>
    Show Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_contact.backend_contacts_path %>" class="breadcrumb-item">Contacts</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span> - Show: <%= @contact.full_name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-contact-button" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Create contact
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var children_contact_modal = new gModal();
        var children_contact_list_box = new ajaxBox(
            $('.children-contact-list'),
            '<%= gns_contact.children_backend_contacts_path(@contact.id) %>',
            function(box) {
                // apply g-link for button
                new gLink(box.find('.delete-child-button'), function(link) {
                    children_contact_list_box.load();
                });
            }
        );
        
        var contact_modal = new gModal();
        var newContactCallback;
        
        $(function() {
            $('.add-contact-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                contact_modal.load(button.attr('href'));
                
                newContactCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        contact_modal.hide();
                        datalists.forEach(function(datalist) {
                            datalist.refresh();
                        });     
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        contact_modal.renderHtml(response);
                    }
                };
            });
            
            $('.add-subcontact-exist-button').click(function(e) {
                e.preventDefault();
                
                //children_contact_modal.load($(this).attr('href'));
            });
            
            $('.add-new-subcontact-button').click(function(e) {
                e.preventDefault();
                
                //children_contact_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.edit-contact-button', function(e) {
                e.preventDefault();
                
                children_contact_modal.load($(this).attr('href'));
            });
            
            // ajax box children list
            children_contact_list_box.load();
        });
    </script>
<% end %>

<div class="row">
    <div class="col-md-12">
        
        <%= render "general_infomation" %>
        
        <div class="card">
            <%= render "contact_menu", title: 'Contact Person' %>
            <div class="card-body">
                <div class="text-right">
                    <a href="#" class="btn bg-blue mr-3 add-new-subcontact-button">Add new contact</a>
                    <a href="#" class="btn bg-blue add-subcontact-exist-button">Add contact already exists</a>
                </div>
            </div>
            <div class="children-contact-list" style="position: relative; min-height: 130px">
                
            </div>
        </div>
        
    </div>
</div>