<% if @contact.children.empty? %>
    <div class="card-body">
        <p class="text-center text-warning pt-2">
            There are no children
        </p>
    </div>
<% else %>
    <table class="table">
        <thead>
            <tr class="alpha-primary">
                <th>Code</th>
                <th>Full Name</th>
                <th>Mobile Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Created</th>
                <th class="text-center" style="width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @contact.children.each do |child| %>
                <tr>
                    <td><%= child.code %></td>
                    <td><%= child.name %></td>
                    <td><%= child.mobile %></td>
                    <td><%= child.email %></td>
                    <td><%= child.get_full_address %></td>
                    <td>
                        <span class="badge badge-<%= child.get_status_label %>"><%= t child.get_status_label %></span>
                    </td>
                    <td><%= child.created_at.strftime("%d/%m/%Y") %></td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item edit-subcontact-button"
                                        href="<%= gns_contact.subcontact_edit_backend_contacts_path(child) %>">
                                        <i class="icon-pencil7"></i> Update infomation
                                    </a>
                                    
                                    <!--<div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item ajax remove-subcontact-button"
                                        href="<%= gns_contact.remove_subcontact_backend_contacts_path(child, current_parent_id: @contact.id) %>"
                                        data-method="PUT"
                                        data-confirm="You want to remove a contact from the contact persons"
                                    >
                                        <i class="icon-subtract"></i> Remove from list
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>