<% if @contact.children.empty? %>
    <div class="card-body">
        <p class="text-center text-warning pt-2">
            <%= t('.there_are_no_children') %>
        </p>
    </div>
<% else %>
    <table class="table">
        <thead>
            <tr class="alpha-primary">
                <th class="text-nowrap"><%= t('.person_name') %></th>
                <th class="text-nowrap"><%= t('.mobile_phone') %></th>
                <th class="text-nowrap"><%= t('.email') %></th>
                <th class="text-nowrap"><%= t('.address') %></th>
                <th class="text-nowrap"><%= t('.status') %></th>
                <th class="text-nowrap"><%= t('.created') %></th>
                <th class="text-center text-nowrap" style="width: 100px;"><%= t('.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @contact.children.each do |child| %>
                <tr>
                    <td class="text-blue-800"><%= child.name %></td>
                    <td><%= child.mobile %></td>
                    <td><%= child.email %></td>
                    <td><%= child.get_full_address %></td>
                    <td>
                        <span class="badge badge-<%= child.get_status_label %>"><%= t child.get_status_label %></span>
                    </td>
                    <td><%= child.created_at.strftime("%d/%m/%Y") %></td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if can? :update, child %>
                                        <a class="dropdown-item edit-subcontact-button"
                                            href="<%= gns_contact.subcontact_edit_backend_contacts_path(child) %>">
                                            <i class="icon-pencil7"></i><%= t('.update_information') %>
                                        </a>
                                    <% end %>
                                    
                                    <!--<div class="dropdown-divider"></div>-->
                                    <% if can? :update, @contact %>
                                        <a class="dropdown-item ajax remove-subcontact-button"
                                            href="<%= gns_contact.remove_subcontact_backend_contacts_path(child, current_parent_id: @contact.id) %>"
                                            data-method="PUT"
                                            data-confirm="You want to remove a contact from the contact persons"
                                        >
                                            <i class="icon-subtract"></i><%= t('.remove_from_list') %> 
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>