<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="navbar-brand">
        <a href="<%= gns_core.root_path %>" class="d-inline-block">
            <img src="/gns_ux/assets/backend/images/logo-main.png" alt="">
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <!--<span class="badge bg-success ml-md-3 mr-md-auto">online</span>-->
        
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <% if I18n.locale == :vi %>
                    <%= link_to url_for(locale: :en), class: 'navbar-nav-link' do %>
                        <img src="/gns_ux/assets/backend/images/lang/en.png" class="img-flag" alt="">
                    <% end %>
                <% else %>
                    <%= link_to url_for(locale: :vi), class: 'navbar-nav-link' do %>
                        <img src="/gns_ux/assets/backend/images/lang/vi.png" class="img-flag" alt="">
                    <% end %>
                <% end %>
            </li>
            
            <li class="nav-item dropdown">
                
                <a href="#" class="navbar-nav-link dropdown-toggle caret-0 notifications-button" data-toggle="dropdown">
                    <i class="icon-bell2"></i>
                    <span class="d-md-none ml-2"><%= t(".notifications") %></span>
                    <div class="notifications-count"></div>
                </a>
                
                <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                    <div class="dropdown-content-header">
                        <span class="font-weight-semibold"><%= t(".notifications") %></span>
                        <a href="#" class="text-primary"><%= t(".mark_all_as_read") %></a>
                    </div>
                    
                    <div class="notifications-box"></div>
                    
                    <div class="dropdown-content-footer justify-content-center p-0">
                        <a href="<%= gns_notification.your_notifications_backend_notifications_users_path %>" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="<%= t(".see_all") %>"><i class="icon-menu7 d-block top-0"></i></a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <img src="<%= current_user.avatar.present? ? current_user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                        class="rounded-circle mr-2" height="34" alt="">
                    <span><%= current_user.short_name %></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="<%= gns_core.my_profile_backend_accounts_path %>"
                        class="dropdown-item">
                        <i class="icon-user-plus"></i> <%= t(".my_account") %>
                    </a>
                    
                    <div class="dropdown-divider"></div>
                    
                    <a href="<%= gns_core.destroy_user_session_path %>"
                        class="dropdown-item g-link" data-method="delete">
                        <i class="icon-switch2"></i> <%= t(".logout") %>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->

<% content_for :page_script do %>
    <script>
        var notifications_box = new ajaxBox(
            $('.notifications-box'),
            '<%= gns_notification.notifications_box_backend_notifications_users_path %>'
        );
        
        var notification_unread_count = new ajaxBox(
            $('.notifications-count'),
            '<%= gns_notification.notification_unread_count_backend_notifications_users_path %>'
        );
        
        $(function() {
            $('.notifications-button').click(function(e) {
                e.preventDefault();
                
                notifications_box.load();
                notification_unread_count.load();
            });
            notification_unread_count.load();
        });
    </script>
<% end %>