<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <img src="<%= current_user.avatar.present? ? current_user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                            width="38" height="38" class="rounded-circle" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold"><%= current_user.full_name %></div>
                        <div class="font-size-xs opacity-50">
                            <%= current_user.email %>
                        </div>
                    </div>

                    <div class="ml-3 align-self-center">
                        <a href="#" class="text-white" title="Account settings"><i class="icon-cog3"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main menu</div> <i class="icon-menu" title="Main"></i></li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        <i class="icon-home4"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"
                        data-menu="
                            gns_contact/backend/contacts,
                            gns_contact/backend/categories
                        "
                    >
                        <i class="icon-address-book"></i> <span>Contact</span></a>

                    <ul class="nav nav-group-sub" data-submenu-title="Contact">
                        <li class="nav-item">
                            <a href="<%= gns_contact.backend_contacts_path %>" class="nav-link"
                                data-menu="
                                    gns_contact/backend/contacts
                                "
                            >Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= gns_contact.backend_categories_path %>" class="nav-link"
                                data-menu="
                                    gns_contact/backend/categories
                                "
                            >Groups</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"
                        data-menu="
                            gns_project/backend/projects,
                            gns_project/backend/categories,
                            gns_project/backend/roles
                        "
                    ><i class="icon-task"></i> <span>Project</span></a>

                    <ul class="nav nav-group-sub" data-submenu-title="Project">
                        <li class="nav-item">
                            <a href="<%= gns_project.backend_projects_path %>" class="nav-link"
                                data-menu="
                                    gns_project/backend/projects
                                "
                            >Projects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= gns_project.backend_categories_path %>" class="nav-link"
                                data-menu="
                                    gns_project/backend/categories
                                "
                            >Types
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= gns_project.backend_roles_path %>" class="nav-link"
                                data-menu="
                                    gns_project/backend/roles
                                "
                            >Roles (Default)
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"
                        data-menu="
                            gns_core/backend/users,
                            gns_core/backend/roles
                        "
                    ><i class="icon-users2"></i> <span>User</span></a>

                    <ul class="nav nav-group-sub" data-submenu-title="User">
                        <li class="nav-item">
                            <a href="<%= gns_core.backend_users_path %>" class="nav-link"
                                data-menu="
                                    gns_core/backend/users
                                "
                            >Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= gns_core.backend_roles_path %>" class="nav-link"
                                data-menu="
                                    gns_core/backend/roles
                                "
                            >Roles
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /main -->

                <!-- Advanced -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">advanced</div> <i class="icon-menu" title="Forms"></i></li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-stats-dots"></i> <span>Report</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Report">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Projects Tracing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">User Statistics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-hammer-wrench"></i> <span>System</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="System">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Backup & Restore
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Notifications
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /advanced -->

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->
    
</div>
<!-- /main sidebar -->