<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SAO EE - Project Management Module of ERP System</title>

	<!-- Global stylesheets -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/global/css/icons/icomoon/styles.css" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/layout1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/layout1/css/bootstrap_limitless.min.css" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/layout1/css/layout.min.css" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/layout1/css/components.min.css" %>
    <%= stylesheet_link_tag "/gns_ux/assets/backend/layout1/css/colors.min.css" %>
	<!-- /global stylesheets -->
    
    <%= render "layouts/gns_ux/backend/javascript_includes" %>

</head>

<body>

	<%= render "layouts/gns_ux/backend/main_navbar" %>

	<!-- Page content -->
	<div class="page-content">

		<%= render "layouts/gns_ux/backend/sidebar" %>

		<!-- Main content -->
		<div class="content-wrapper">

			<%= render "layouts/gns_ux/backend/header" %>

			<!-- Content area -->
			<div class="content">

				<!-- Contextual classes -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Contacts list</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>
                    
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Full name</label>
                                        <select multiple="multiple" data-placeholder="Select a name..." class="form-control select" data-fouc>
                                            <option></option>
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AL">Alabama</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Area (State/City/District)</label>
                                        <select data-placeholder="Select a State..." class="form-control select-search" data-fouc>
                                            <option></option>
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AL">Alabama</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Contact types</label>
                                        <select class="form-control multiselect" multiple="multiple" data-button-width="auto" data-fouc>
                                            <option value="cheese">Customer</option>
                                            <option value="tomatoes">Supplier</option>
                                            <option value="mozarella">Agent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-right pt-4">
                                        <button type="submit" class="btn btn-primary ml-3">Search <i class="icon-search4 ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

					<div class="table-responsive">
						<table class="table table-hover">
		                    <thead>
		                        <tr class="bg-info-700">
		                            <th>Code</th>
		                            <th>Full Name</th>
		                            <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Created At</th>
		                            <th>Status</th>
                                    <th>Actions</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		                            <td>C-001</td>
		                            <td>CUS-NGUYEN TON HUNG</td>
                                    <td>hungnt@hoangkhang.com.vn</td>
                                    <td>0908.903.302</td>
                                    <td>Thanh Hóa</td>
		                            <td>01/04/2012</td>
		                            <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
    
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-file-eye"></i> View
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-pencil7"></i> Update
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
		                        </tr>
		                        <tr>
		                            <td>S-001</td>
		                            <td>SUP-CTY HOANG KHANG</td>
                                    <td>contact@hoangkhang.com.vn</td>
                                    <td>028.3984.7690</td>
                                    <td>TP. Hồ Chí Minh</td>
		                            <td>01/04/2012</td>
		                            <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
    
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-file-eye"></i> View
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-pencil7"></i> Update
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
		                        </tr>
		                        <tr>
		                            <td>C-002</td>
		                            <td>CUS-NHA MAY BIA HEINEKEN</td>
                                    <td></td>
                                    <td></td>
                                    <td>Myanmar</td>
		                            <td>02/04/2012</td>
		                            <td>
                                        <span class="badge badge-secondary">Inactive</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
    
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-file-eye"></i> View
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-pencil7"></i> Update
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
		                        </tr>
		                        <tr>
		                            <td>C-003</td>
		                            <td>CUS-TRUNG TAM ANH NGU MCE</td>
                                    <td>anhngumce@gmail.com</td>
                                    <td></td>
                                    <td>Đà Nẵng</td>
		                            <td>02/04/2012</td>
		                            <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
    
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-file-eye"></i> View
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-pencil7"></i> Update
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="icon-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
		                        </tr>
		                    </tbody>
		                </table>
					</div>
				</div>
				<!-- /contextual classes -->

			</div>
			<!-- /content area -->

			<%= render "layouts/gns_ux/backend/footer" %>

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
