<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= @project.code %></title>
    <style>
        table {
          border-collapse: collapse;
        }
        th {
          background: #0071bc;
          color: #ffffff;
        }
        
        th, td {
          border: 1px solid #66a9d6;
          padding: 8px;
        }
        
        tr:nth-child(odd) {
          background: #efefef;
        }
        
        tr:hover {
          background: #d1d1d1;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    Hi <%= @name %>,
    <p>You have been assigned for Project <%= @project.name %> (<%= @project.code %>) as following:</p>
    
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Task description</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Assignee/Responsible</th>
            <th>Assigned by</th>
        </tr>
        <% stt = 0 %>
        <% @tasks.each_with_index do |task,index| %>
            <% if @employee.user.can?(:read, task) %>
                <% stt += 1 %>
                <tr>
                    <td class="text-center"><%= stt %></td>
                    <td><%= task.name %></td>
                    <td class="text-center"><%= task.start_date.strftime('%d/%m/%Y') %></td>
                    <td class="text-center"><%= task.end_date.strftime('%d/%m/%Y') %></td>
                    <td><%= task.employee_name %></td>
                    <td><%= task.creator_name %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
    <p>
      ========================================================================<br>
      <i>(*) This is an email sent automatically. Please do not reply to this email.</i>
    </p>
</body>
</html>