<%= form_for([gns_project, :backend, project], html: {multipart: true}) do |f| %>
    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block">Project Type <span class="text-danger">*</span></label>
                    <select name="project[category_id]"
                        class="form-control select-ajax"
                        data-container-css-class="font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:category_id).present? %>"
                        data-placeholder="Select category..."
                        data-url="<%= gns_project.select2_backend_categories_path %>">
                        <option value="<%= project.category_id %>"><%= project.category_name %></option>
                    </select>
                    <% if project.errors.full_messages_for(:category_id).present? %>
                        <span class="form-text text-danger"><%= project.errors.full_messages_for(:category_id).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="form-group">
                    <label class="d-block">Project Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:code).present? %>" placeholder="Enter code"
                        name="project[code]"
                        value="<%= project.code %>"
                    >
                    <% if project.errors.full_messages_for(:code).present? %>
                        <span class="form-text text-danger"><%= project.errors.full_messages_for(:code).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="form-group">
                    <label class="d-block">Project Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:name).present? %>" placeholder="Enter name"
                        name="project[name]"
                        value="<%= project.name %>"
                    >
                    <% if project.errors.full_messages_for(:name).present? %>
                        <span class="form-text text-danger"><%= project.errors.full_messages_for(:name).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block">Customer <span class="text-danger">*</span></label>
                    <select name="project[customer_id]"
                        data-container-css-class="font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:customer_id).present? %>"
                        data-placeholder="Select customer"
                        class="form-control select-ajax"
                        data-url="<%= gns_contact.select2_backend_contacts_path %>">
                        <option value="<%= project.customer_id %>"><%= project.customer_name %></option>
                    </select>
                    <% if project.errors.full_messages_for(:customer_id).present? %>
                        <span class="form-text text-danger"><%= project.errors.full_messages_for(:customer_id).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="form-group">
                    <label class="d-block">Date of implementation <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                        </span>
                        <input type="text" class="form-control daterange-dual"
                            value="<%= @date_of_implementation %>"
                            name="project[date_of_implementation]"> 
                    </div>
                    <% if project.errors.full_messages_for(:date).present? %>
                        <span class="form-text text-danger"><%= project.errors.full_messages_for(:date).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block">Project Manager <span class="text-danger">*</span></label>
                            <select name="project[manager_id]"
                                data-container-css-class="font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:manager_id).present? %>"
                                data-placeholder="Select manager"
                                class="form-control select-ajax"
                                data-url="<%= gns_employee.select2_backend_employees_path %>">
                                <option value="<%= project.manager_id %>"><%= project.manager_name %></option>
                            </select>
                            <% if project.errors.full_messages_for(:customer_id).present? %>
                                <span class="form-text text-danger"><%= project.errors.full_messages_for(:customer_id).join('<br/>').html_safe %></span>
                            <% end %>
                        </div>
                    </div>
                        
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block">Priority <span class="text-danger">*</span></label>
                            <select class="form-control selectAllowClear"
                                data-container-css-class="font-weight-semibold <%= 'border-danger' if project.errors.full_messages_for(:priority).present? %>"
                                data-placeholder="Select priority level"
                                name="project[priority]"
                            >
                                <option></option>
                                <% options = GnsProject::Project::get_priority_options() %>
                                <% options.each do |option| %>
                                    <option <%= 'selected' if option[:value] == project.priority %> value="<%= option[:value] %>"><%= option[:text] %></option>
                                <% end %>
                            </select>
                            <% if project.errors.full_messages_for(:priority).present? %>
                                <span class="form-text text-danger"><%= project.errors.full_messages_for(:priority).join('<br/>').html_safe %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </fieldset>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-light ml-1" href="<%= gns_project.backend_projects_path %>">
            Cancel
        </a>
    </div>
<% end %>

<% content_for :page_script do %>
    <script>
        
    </script>
<% end %>