<div class="form-group">
    <label class="d-block">Employee Name <span class="text-danger">*</span></label>
    <select name="authorization[employee_id]"
        data-container-css-class="font-weight-semibold <%= 'border-danger' if project_employee.errors.full_messages_for(:employee).present? %>"
        data-placeholder="Select employee"
        class="form-control select-ajax"
        data-url="<%= gns_employee.select2_backend_employees_path %>">
        <option value="<%= project_employee.employee_id %>"><%= project_employee.employee_name %></option>
    </select>
    <% if project_employee.errors.full_messages_for(:employee).present? %>
        <span class="form-text text-danger"><%= project_employee.errors.full_messages_for(:employee).join('<br/>').html_safe %></span>
    <% end %>
</div>

<div class="form-group">
    <label class="d-block">Project Roles <span class="text-danger">*</span></label>
    <select name="authorization[role_ids][]" multiple
        data-container-css-class="font-weight-semibold <%= 'border-danger' if project_employee.errors.full_messages_for(:role_ids).present? %>"
        data-placeholder="Select project roles"
        class="form-control select-ajax"
        data-url="<%= gns_project.select2_backend_roles_path %>"
    >
        <% roles = project_employee.project_employee_roles.map {|per| per.role} %>
        <% roles.each do |role| %>
            <option selected="selected" value="<%= role.id %>"><%= role.name %></option>
        <% end %>
    </select>
    <% if project_employee.errors.full_messages_for(:role_ids).present? %>
        <span class="form-text text-danger"><%= project_employee.errors.full_messages_for(:role_ids).join('<br/>').html_safe %></span>
    <% end %>
</div>