<% content_for :page_script do %>
    <script>
        var project_modal = new gModal();
        var updateProjectCallback;
        
        var start_progress_project_modal = new gModal({size: 'md'});
        var start_progress_project_callback;
        
        var finish_project_modal = new gModal({size: 'md'});
        var finish_project_callback;
        
        $(function() {
            $('.edit-project-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                project_modal.load(button.attr('href'));
                
                updateProjectCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        project_modal.hide();
                        
                        location.reload();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        project_modal.renderHtml(response);
                    }
                };
            });
            
            $('.start-progress-project-button').click(function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                start_progress_project_modal.load($(this).attr('href'));
                
                start_progress_project_callback = function() {
                    location.reload();
                };
            });
            
            $('.finish-project-button').click(function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                finish_project_modal.load($(this).attr('href'));
                
                finish_project_callback = function() {
                    location.reload();
                };
            });
        });
    </script>
<% end %>

<% content_for :page_toolbar do %>
    <div class="list-icons">
        <% if can? :read, @project %>
            <a href="<%= gns_project.backend_project_path(@project) %>"
                class="btn btn-success btn-labeled btn-labeled-left btn-sm modal-control"
                 modal-size="lg"><b><i class="icon-zoomin3"></i></b> Show Info
            </a>
        <% end %>
        
        <% if (can? :update, @project) or (can? :mark_as_new, @project) or (can? :send_request, @project) or (can? :start_project, @project) or (can? :finish, @project) %>
            <div class="btn-group ml-1">
                <button type="button" class="btn btn-sm bg-transparent text-success border-success dropdown-toggle" data-toggle="dropdown">Actions</button>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if can? :update, @project %>
                        <a href="<%= gns_project.edit_backend_project_path(@project) %>"
                           class="dropdown-item edit-project-button"
                        > Update Info</a>
                    <% end %>
                    
                    <% if (can? :mark_as_new, @project) or (can? :send_request, @project) or (can? :start_project, @project) or (can? :finish, @project) %>
                        <div class="dropdown-divider"></div>
                        
                        <% if can? :send_request, @project %>
                            <a href="<%= gns_project.start_progress_backend_projects_path(id: @project) %>"
                               class="dropdown-item start-progress-project-button"
                            > Send request (submit)</a>
                        <% end %>
                        
                        <% if can? :start_project, @project %>
                            <a href="<%= gns_project.start_progress_backend_projects_path(id: @project) %>"
                               class="dropdown-item start-progress-project-button"
                            > Start progress</a>
                        <% end %>
                        
                        <% if can? :finish, @project %>
                            <a href="<%= gns_project.finish_backend_projects_path(id: @project) %>"
                                class="dropdown-item finish-project-button"
                            > Finish to project</a>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<div class="card-header bg-white pb-0 pl-0 pt-sm-0 header-elements-sm-inline">
    <% if false %>
        <h6 class="card-title"><%= title %></h6>
    <% end %>
    <ul class="nav nav-tabs nav-tabs-bottom card-header-tabs mx-0">
        <li class="nav-item">
            <a href="<%= gns_project.tasks_backend_projects_path(@project.id) %>"
                class="nav-link" modal-size="full"
                data-menu="gns_project/backend/projects/tasks"
            >
                <i class="icon-clipboard3 mr-1"></i>
                Task planning
            </a>
        </li>
        
        <% if can? :manpower_authorize, @project %>
            <li class="nav-item">
                <a
                    data-menu="gns_project/backend/projects/authorization"
                    href="<%= gns_project.authorization_backend_projects_path(@project.id) %>"
                    class="nav-link" modal-size="full">
                        <i class="icon-user-check mr-1"></i>
                        Manpower
                </a>
            </li>
        <% end %>
        
        <li class="nav-item mr-3">
            <a
                data-menu="gns_project/backend/projects/logs"
                href="<%= gns_project.logs_backend_projects_path(@project.id) %>"
                class="nav-link" modal-size="full">
                    <i class="icon-history mr-1"></i>
                    View logs
            </a>
        </li>
    </ul>
    
    <div class="header-elements">
        <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
        </div>
    </div>
</div>