<% content_for :title do %>
    Task Attachment
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_projects_path %>" class="breadcrumb-item">Projects</a>
    <a href="<%= gns_project.backend_project_path(@project) %>" class="breadcrumb-item"><%= @project.name %></a>
    <span class="breadcrumb-item active">Attachment</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-design mr-2"></i> <span class="font-weight-semibold">Project</span>: <%= @project.name %></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var show_task_modal = new gModal();
        var finish_task_modal = new gModal({size: 'md'});
        var finish_task_callback;
        var unfinish_task_modal = new gModal({size: 'md'});
        var unfinish_task_callback;
        var close_task_modal = new gModal({size: 'md'});
        var close_task_callback;
        var reopen_task_modal = new gModal({size: 'md'});
        var reopen_task_callback;
        
        // tab attachment -> danh sach cac task
        var task_attachment_list_box = new ajaxBox(
            $('.task-attachment-list'),
            '<%= gns_project.attachments_list_backend_projects_path(@project.id) %>',
            function(box) {
                // apply g-link
                new gLink(box.find('.delete-task-button'), function(link) {
                    task_attachment_list_box.load();
                });
            }
        );
        
        $(function() {
            $(document).on('click', '.show-task-button', function(e) {
                e.preventDefault();
                
                show_task_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.finish-task-button', function(e) {
                e.preventDefault();
                
                finish_task_modal.load($(this).attr('href'));
                
                finish_task_callback = function() {
                    task_attachment_list_box.load();
                };
            });
            
            $(document).on('click', '.unfinish-task-button', function(e) {
                e.preventDefault();
                
                unfinish_task_modal.load($(this).attr('href'));
                
                unfinish_task_callback = function() {
                    task_attachment_list_box.load();
                };
            });
            
            $(document).on('click', '.close-task-button', function(e) {
                e.preventDefault();
                
                close_task_modal.load($(this).attr('href'));
                
                close_task_callback = function() {
                    task_attachment_list_box.load();
                };
            });
            
            $(document).on('click', '.reopen-task-button', function(e) {
                e.preventDefault();
                
                reopen_task_modal.load($(this).attr('href'));
                
                reopen_task_callback = function() {
                    task_attachment_list_box.load();
                };
            });
            
            // ajax box task attachment list
            task_attachment_list_box.load();
        });
    </script>
<% end %>

<div class="card">
    <%= render "menu_tab", title: 'Attachment' %>
    
    <div class="card-body">
        <% if can? :download_attachments, @project %>
            <div class="text-right">
                <a class="btn btn-light mr-3 mb-3"
                   href="<%= gns_project.download_attachments_backend_projects_path(@project.id) %>"
                   target="_blank">
                    <i class="icon-download4 mr-2"></i> Download All
                </a>
            </div>
        <% end %>
        
        <div class="task-attachment-list" style="position: relative; min-height: 130px"></div>
    </div>
</div>

<%= render "comment_card", project: @project %>