<% if @project.tasks.empty? %>
    <div class="card-body">
        <p class="text-center text-warning pt-2">
            There are no task description
        </p>
    </div>
<% else %>
    <table class="table">
        <thead>
            <tr class="alpha-primary">
                <th>No.</th>
                <th class="text-nowrap">Stage</th>
                <th class="text-nowrap">Task Description</th>
                <th class="text-nowrap">Status</th>
                <th class="text-nowrap text-center">Finished</th>
                <th class="text-nowrap">Attached</th>
                <th class="text-center" style="width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each_with_index do |task,index| %>
                <tr>
                    <td class="font-weight-semibold"><%= index + 1 %></td>
                    <td><%= task.stage_name %></td>
                    <td><%= task.name %></td>
                    <td>
                        <span class="badge badge-flat badge-<%= task.status %>"><%= t task.status %></span>
                    </td>
                    <td class="text-center">
                        <% if task.finished? %>
                            <% if can? :unfinish, task %>
                                <a href="<%= gns_project.unfinish_backend_tasks_path(id: task) %>"
                                    class="unfinish-task-button"
                                    title="Click to un-finish"
                                >
                                    <i class="icon-checkmark-circle text-success"></i>
                                </a>
                            <% else %>
                                <i class="icon-checkmark-circle text-success"></i>
                            <% end %>
                        <% else %>
                            <% if can? :finish, task %>
                                <a href="<%= gns_project.finish_backend_tasks_path(id: task) %>"
                                    class="finish-task-button"
                                    title="Click to finish"
                                >
                                    <i class="icon-cancel-circle2 text-danger"></i>
                                </a>
                            <% else %>
                                <i class="icon-cancel-circle2 text-danger"></i>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <% if task.attachments.count > 0 %>
                            <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                class="badge badge-light badge-striped badge-striped-left border-left-teal text-primary-600 show-task-button"
                            >
                                <%= task.attachments.count %> <%= task.attachments.count <= 1 ? 'file' : 'files' %>
                            </a>
                        <% else %>
                            <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                class="badge badge-light badge-striped badge-striped-left border-left-danger text-warning-600 show-task-button"
                            >
                                No files yet
                            </a>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    
                                    <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                        class="dropdown-item show-task-button">
                                        <i class="icon-eye4"></i> View attachs
                                    </a>
                                    
                                    <% if can? :finish, task %>
                                        <a href="<%= gns_project.finish_backend_tasks_path(id: task) %>"
                                            class="dropdown-item finish-task-button">
                                            <i class="icon-checkmark3"></i> Finish Task
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :unfinish, task %>
                                        <a href="<%= gns_project.unfinish_backend_tasks_path(id: task) %>"
                                            class="dropdown-item unfinish-task-button">
                                            <i class="icon-x"></i> Un-finish Task
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :close, task %>
                                        <a href="<%= gns_project.close_backend_tasks_path(id: task) %>"
                                            class="dropdown-item close-task-button">
                                            <i class="icon-lock5"></i> Close Task
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :reopen, task %>
                                        <a href="<%= gns_project.reopen_backend_tasks_path(id: task) %>"
                                            class="dropdown-item reopen-task-button">
                                            <i class="icon-rotate-ccw2"></i> Re-open Task
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>