<table class="table table-hover">
    <thead>
        <tr class="alpha-primary">
            <th class="text-nowrap"><%= t('.no')%></th>
            <th class="text-nowrap"><%= t('.employee_name')%></th>
            <th class="text-nowrap"><%= t('.role_name')%></th>
            <th class="text-nowrap text-center"><%= t('.permissions')%></th>
            <th class="text-nowrap text-right"><%= t('.actions')%></th>
        </tr>
    </thead>
    <tbody>
        <% @project_employees.each_with_index do |project_employee,index| %>
            <tr>
                <% roles = project_employee.project_employee_roles.map {|pur| pur.role} %>
                <td><%= index + 1 %></td>
                <td><%= project_employee.employee_name %></td>
                <td>
                    <% roles.each do |role| %>
                        <span class="badge badge-flat border-primary text-primary-600"><%= role.name %></span>
                    <% end %>
                </td>
                <td class="text-center">
                    <a href="<%= gns_project.authorization_permissions_backend_projects_path(project_employee_id: project_employee) %>"
                       class="badge badge-pill bg-pink modal-control"
                       modal-size="lg">
                        <%= project_employee.employee.project_permission_count(project_employee.project) %>
                    </a>
                </td>
                <td class="text-right">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="<%= gns_project.authorization_permissions_backend_projects_path(project_employee_id: project_employee) %>"
                                   class="dropdown-item modal-control"
                                   modal-size="lg">
                                    <i class="icon-info3"></i> <%= t('.view_permissions')%>
                                </a>
                                
                                <a href="<%= gns_project.update_authorization_backend_projects_path(
                                            project_employee_id: project_employee
                                        ) %>"
                                    class="dropdown-item edit-authorization-button"
                                >
                                    <i class="icon-pencil7"></i> <%= t('.update_authorized')%>
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                
                                <a href="<%= gns_project.remove_authorization_backend_projects_path(
                                            project_employee_id: project_employee
                                        ) %>"
                                    class="dropdown-item ajax remove-authorization-button"
                                >
                                    <i class="icon-bin"></i> <%= t('.remove_authorized')%>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>