<table class="table table-hover">
    <thead>
        <tr class="alpha-primary">
            <th class="text-nowrap">No.</th>
            <th class="text-nowrap">Employee Name</th>
            <th class="text-nowrap">Role Name</th>
            <th class="text-nowrap text-center">Permissions</th>
            <th class="text-nowrap text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @project_users.each_with_index do |project_user,index| %>
            <tr>
                <% roles = project_user.project_user_roles.map {|pur| pur.role} %>
                <td><%= index + 1 %></td>
                <td><%= project_user.user.full_name %></td>
                <td>
                    <% roles.each do |role| %>
                        <span class="badge badge-flat border-primary text-primary-600"><%= role.name %></span>
                    <% end %>
                </td>
                <td class="text-center">
                    <a href="<%= gns_project.authorization_permissions_backend_projects_path(project_user_id: project_user) %>"
                       class="badge badge-pill bg-pink modal-control"
                       modal-size="lg">
                        <%= project_user.user.project_permission_count(project_user.project) %>
                    </a>
                </td>
                <td class="text-right">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="<%= gns_project.authorization_permissions_backend_projects_path(project_user_id: project_user) %>"
                                   class="dropdown-item modal-control"
                                   modal-size="lg">
                                    <i class="icon-info3"></i> View Permissions
                                </a>
                                
                                <a href="<%= gns_project.update_authorization_backend_projects_path(
                                            project_user_id: project_user
                                        ) %>"
                                    class="dropdown-item edit-authorization-button"
                                >
                                    <i class="icon-pencil7"></i> Update authorized
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                
                                <a href="<%= gns_project.remove_authorization_backend_projects_path(
                                            project_user_id: project_user
                                        ) %>"
                                    class="dropdown-item ajax remove-authorization-button"
                                >
                                    <i class="icon-bin"></i> Remove authorized
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>