<% if @comments.empty? %>
    <p class="text-center text-warning pt-2"><%= t('.no_note') %></p>
<% else %>
    <div class="comment-area mb-2">
        <% @comments.each do |comment| %>
            <div class="media flex-column flex-md-row">
                <div class="mr-md-3 mb-2 mb-md-0">
                    <a href="javascript:void(0)">
                        <img src="<%= comment.user.avatar.present? ? comment.user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                            class="rounded-circle avatar" width="45" height="45" alt="">
                    </a>
                </div>
    
                <div class="media-body">
                    <div class="main">
                        <div class="media-title">
                            <a href="javascript:void(0)" class="font-weight-semibold"><%= comment.user_name %></a>
                            <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block"
                                data-popup="tooltip" data-original-title="<%= comment.created_at.strftime('%d/%m/%Y %H:%M') %>">
                                <%= time_ago_in_words(comment.created_at)  %>
                            </span>
                        </div>
        
                        <%= simple_format(comment.message) %>
                    </div>
        
                    <ul class="list-inline font-size-sm mb-0 comment-action-link">
                        <!--<li class="list-inline-item">70 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>-->
                        <% if can? :reply, comment %>
                            <li class="list-inline-item">
                                <a href="<%= gns_project.new_backend_comment_path(project_id: @project, parent_id: comment) %>"
                                    class="reply-comment-button">
                                    <%= t('.reply') %>
                                </a>
                            </li>
                        <% end %>
                        
                        <% if can? :update, comment %>
                            <li class="list-inline-item">
                                <a href="<%= gns_project.edit_backend_comment_path(comment) %>"
                                    class="edit-comment-button">
                                    <%= t('.edit') %>
                                </a>
                            </li>
                        <% end %>
                        
                        <% if can? :delete, comment %>
                            <li class="list-inline-item">
                                <a href="<%= gns_project.backend_comment_path(comment) %>"
                                    class="ajax delete-comment-button"
                                    data-method="DELETE"
                                    data-confirm="You are about to delete a comment. The replies to this comment will also be deleted."
                                >
                                    <%= t('.delete') %>
                                </a>
                            </li>
                        <% end %>
                        
                        <% if can? :download, comment %>
                            <li class="list-inline-item">
                                <a href="#"
                                    data-popup="tooltip"
                                    data-original-title="Click to download the attachment"
                                >
                                    <i class="font-size-sm icon-download4"></i> (6)
                                </a>
                            </li>
                        <% end %>
                    </ul>
                    
                    <% if comment.children.count > 0 %>
                        <% comment.children.order('created_at asc').each do |child_comment| %>
                            <div class="media flex-column flex-md-row comment-reply">
                                <div class="mr-md-3 mb-2 mb-md-0">
                                    <a href="javascript:void(0)">
                                        <img src="<%= child_comment.user.avatar.present? ? child_comment.user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                                            class="rounded-circle avatar" width="35" height="35" alt="">
                                    </a>
                                </div>
        
                                <div class="media-body">
                                    <div class="sub">
                                        <div class="media-title">
                                            <a href="javascript:void(0)" class="font-weight-semibold"><%= child_comment.user_name %></a>
                                            <span class="font-size-sm text-muted ml-sm-2 mb-2 mb-sm-0 d-block d-sm-inline-block"
                                                data-popup="tooltip" data-original-title="<%= child_comment.created_at.strftime('%d/%m/%Y %H:%M') %>">
                                                <%= time_ago_in_words(child_comment.created_at) %>
                                            </span>
                                        </div>
            
                                        <%= simple_format(child_comment.message) %>
                                    </div>
            
                                    <ul class="list-inline font-size-sm mb-0 comment-action-link">
                                        <!--<li class="list-inline-item">67 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>-->
                                        <% if can? :update, child_comment %>
                                            <li class="list-inline-item">
                                                <a href="<%= gns_project.edit_backend_comment_path(child_comment) %>"
                                                    class="edit-comment-button">
                                                    <%= t('.edit') %>
                                                </a>
                                            </li>
                                        <% end %>
                                        
                                        <% if can? :delete, child_comment %>
                                            <li class="list-inline-item">
                                                <a href="<%= gns_project.backend_comment_path(child_comment) %>"
                                                    class="ajax delete-comment-button"
                                                    data-method="DELETE"
                                                    data-confirm="You are about to delete a reply of the comment."
                                                >
                                                    <%= t('.delete') %>
                                                </a>
                                            </li>
                                        <% end %>
                                        
                                        <% if can? :download, child_comment %>
                                            <li class="list-inline-item">
                                                <a href="#"
                                                    data-popup="tooltip"
                                                    data-original-title="Click to download the attachment"
                                                >
                                                    <i class="font-size-sm icon-download4"></i> (6)
                                                </a>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>