<% content_for :title do %>
    Project Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Projects</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book"></i> <span class="font-weight-semibold">Project</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-project-button" href="<%= gns_project.new_backend_project_path %>">
        <b><i class="icon-plus22"></i></b> Create project
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var project_modal = new gModal();
        var updateProjectCallback;
        var newProjectCallback;
        
        var request_project_modal = new gModal({size: 'md'});
        var request_project_callback;
        
        var start_progress_project_modal = new gModal({size: 'md'});
        var start_progress_project_callback;
        
        var finish_project_modal = new gModal({size: 'md'});
        var finish_project_callback;
        
        $(function() {            
            $('.add-project-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                project_modal.load(button.attr('href'));
                
                newProjectCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        project_modal.hide();
                        datalists.forEach(function(datalist) {
                            datalist.refresh();
                        });
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        project_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-project-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                // load modal edit
                project_modal.load(button.attr('href'));
                
                // after update category event
                updateProjectCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        project_modal.hide();
                        datalists[button.closest('.datalist').attr('data-id')].refresh();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        project_modal.renderHtml(response);
                    }           
                }
                    
            });
            
            $(document).on('click', '.request-project-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                request_project_modal.load($(this).attr('href'));
                
                request_project_callback = function() {
                    datalists[button.closest('.datalist').attr('data-id')].refresh();
                };
            });
            
            $(document).on('click', '.start-progress-project-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                start_progress_project_modal.load($(this).attr('href'));
                
                start_progress_project_callback = function() {
                    datalists[button.closest('.datalist').attr('data-id')].refresh();
                };
            });
            
            $(document).on('click', '.finish-project-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                finish_project_modal.load($(this).attr('href'));
                
                finish_project_callback = function() {
                    datalists[button.closest('.datalist').attr('data-id')].refresh();
                };
            });
        });
    </script>
<% end %>

<!-- Datatable -->
<div class="card datalist"
    data-url="<%= gns_project.list_backend_projects_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Project list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="customer_id" data-placeholder="Filter by customer..."
                          class="form-control select-ajax"
                          data-url="<%= gns_contact.select2_backend_contacts_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="category_id" data-placeholder="Filter by type..."
                          class="form-control select-ajax"
                          data-url="<%= gns_project.select2_backend_categories_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectAllowClear"
                        data-placeholder="Filter by status..."
                        data-fouc
                        name="status"
                    >
                        <option></option>
                        <option value="<%= GnsProject::Project::STATUS_NEW %>"><%= 'New' %></option>
                        <option value="<%= GnsProject::Project::STATUS_PENDING %>"><%= 'Pending' %></option>
                        <option value="<%= GnsProject::Project::STATUS_IN_PROGRESS %>"><%= 'In progress' %></option>
                        <option value="<%= GnsProject::Project::STATUS_FINISHED %>"><%= 'Finished' %></option>
                    </select>
                </div>
                <div class="col-md-3 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="text-left text-nowrap flex">
                    <div class="keyword-search flex align-center mr-3">
                        <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to search...">
                    </div>
                    <div class="flex align-center">
                        <span class="mr-1">Show columns:</span>
                        <select name="show_columns[]" class="form-control multiselect show-columns-select" multiple="multiple">
                            <option value="code" selected>Code</option>
                            <option value="name" selected>Name</option>
                            <option value="customer">Customer</option>
                            <option value="project_type" selected>Type</option>
                            <option value="start_date" selected>Start Date</option>
                            <option value="end_date" selected>End Date</option>
                            <option value="complete" selected>% Complete</option>
                            <option value="status" selected>Status</option>
                            <option value="created_at">Created at</option>
                            <option value="updated_at">Updated at</option>
                        </select>
                    </div>
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1">Sort by:</span>
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control selectPrimary sort-by-select" data-fouc>
                            <option value="created_at">Created At</option>
                            <option value="code">Code</option>
                            <option value="name">Name</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1">Per page:</span>
                        <select name="per_page" class="form-control selectPrimary per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="datalist-content">
            
        </div>
    </form>
</div>