<% content_for :title do %>
    Project Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Projects</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book"></i> <span class="font-weight-semibold">Project</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary" href="<%= gns_project.new_backend_project_path %>">
        <b><i class="icon-plus22"></i></b> Thêm mới
    </a>
<% end %>

<!-- Datatable -->
<div class="card datalist"
    data-url="<%= gns_project.list_backend_projects_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Project list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="category_id" data-placeholder="Select to filter by category..."
                          class="form-control select-ajax"
                          data-url="<%= gns_project.select2_backend_categories_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="customer_id" data-placeholder="Select to filter by customer..."
                          class="form-control select-ajax"
                          data-url="<%= gns_contact.select2_backend_contacts_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="keyword-search mr-2">
                    <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to filter...">
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1">Sort by:</span>
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control select select-not-search-field sort-by-select" data-fouc>
                            <option value="created_at">Created At</option>
                            <option value="code">Code</option>
                            <option value="name">Name</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1">Per page:</span>
                        <select name="per_page" class="form-control select select-not-search-field per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="table-responsive datalist-content">
            
        </div>
    </form>
</div>