<% params["show_columns"] = [] if !params["show_columns"].present? %>
<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <% if params["show_columns"].include?("code") %>
                <th class="text-nowrap"><%= t('.code') %></th>
            <% end %>
            <% if params["show_columns"].include?("name") %>
                <th class="text-nowrap"><%= t('.name') %></th>
            <% end %>
            <% if params["show_columns"].include?("customer") %>
                <th class="text-nowrap"><%= t('.customer') %></th>
            <% end %>
            <% if params["show_columns"].include?("project_type") %>
                <th class="text-nowrap"><%= t('.type') %></th>
            <% end %>
            <% if params["show_columns"].include?("start_date") %>
                <th class="text-nowrap"><%= t('.start_date') %></th>
            <% end %>
            <% if params["show_columns"].include?("end_date") %>
                <th class="text-nowrap"><%= t('.end_date') %></th>
            <% end %>
            <% if params["show_columns"].include?("complete") %>
                <th class="text-nowrap"><%= t('.complete') %></th>
            <% end %>
            <% if params["show_columns"].include?("status") %>
                <th class="text-nowrap"><%= t('.status') %></th>
            <% end %>
            <% if params["show_columns"].include?("active") %>
                <th class="text-nowrap text-center"><%= t('.active') %></th>
            <% end %>
            <% if params["show_columns"].include?("created_at") %>
                <th class="text-nowrap"><%= t('.create_at') %></th>
            <% end %>
            <% if params["show_columns"].include?("updated_at") %>
                <th class="text-nowrap"><%= t('.update_at') %></th>
            <% end %>
            <th class="text-nowrap text-center"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <% if params["show_columns"].include?("code") %>
                    <td>
                        <a href="<%= gns_project.backend_project_path(project) %>"
                          class="modal-control" modal-size="lg">
                            <%= project.code %>
                        </a>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("name") %>
                    <td><%= project.name %></td>
                <% end %>
                <% if params["show_columns"].include?("customer") %>
                    <td><%= project.customer_name %></td>
                <% end %>
                <% if params["show_columns"].include?("project_type") %>
                    <td><%= project.category_name %></td>
                <% end %>
                <% if params["show_columns"].include?("start_date") %>
                    <td>
                        <%= project.get_start_date.strftime("%d/%m/%Y") if project.get_start_date.present? %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("end_date") %>
                    <td>
                        <%= project.get_end_date.strftime("%d/%m/%Y") if project.get_end_date.present? %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("complete") %>
                    <td width="150px">
                        <% num = project.progress_percent.round %>
                        <div class="progress" title="<%= num %>% Complete">
                            <div class="progress-bar bg-teal" style="width: <%= num %>%">
                                <span><%= num %>%</span>
                            </div>
                        </div>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("status") %>
                    <td>
                        <span class="badge badge-<%= project.status %>"><%= t project.status %></span>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("active") %>
                    <td class="text-center">
                        <%= '<i class="icon-checkmark3 text-success"></i>'.html_safe if project.active? %>
                        <%= '<i class="icon-cross2 text-danger-400"></i>'.html_safe if !project.active? %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("created_at") %>
                    <td>
                        <%= project.created_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("updated_at") %>
                    <td>
                        <%= project.updated_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                
                                <% if can? :read, project %>
                                    <a href="<%= gns_project.backend_project_path(project) %>" class="dropdown-item modal-control"
                                        modal-size="lg">
                                        <i class="icon-file-eye"></i><%= t('.show_info') %>
                                    </a>
                                <% end %>
                                
                                <% if can? :update, project %>
                                    <a class="dropdown-item edit-project-button"
                                        href="<%= gns_project.edit_backend_project_path(project) %>">
                                        <i class="icon-pencil7"></i> <%= t('.update_info') %>
                                    </a>
                                <% end %>
                                
                                <% if can? :send_request, project %>
                                    <a class="dropdown-item request-project-button"
                                        href="<%= gns_project.send_request_backend_projects_path(id: project) %>">
                                        <i class="icon-shift"></i> <%= t('.request_submit') %>
                                    </a>
                                <% end %>
                                
                                <% if can? :start_project, project %>
                                    <a class="dropdown-item start-progress-project-button"
                                        href="<%= gns_project.start_progress_backend_projects_path(id: project) %>">
                                        <i class="icon-power2"></i> <%= t('.start_project') %>
                                    </a>
                                <% end %>
                                
                                <% if can? :finish, project %>
                                    <a class="dropdown-item finish-project-button"
                                        href="<%= gns_project.finish_backend_projects_path(id: project) %>">
                                        <i class="icon-finish"></i> <%= t('.finish') %>
                                    </a>
                                <% end %>
                                
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item"
                                    href="<%= gns_project.tasks_backend_projects_path(project) %>">
                                    <i class="icon-clipboard3"></i> <%= t('.task_planning') %>
                                </a>
                                
                                <% if can? :manpower_authorize, project %>
                                    <a class="dropdown-item"
                                        href="<%= gns_project.authorization_backend_projects_path(project) %>">
                                        <i class="icon-user-check"></i> <%= t('.manpower') %>
                                    </a>
                                <% end %>
                                
                                <a class="dropdown-item"
                                    href="<%= gns_project.logs_backend_projects_path(project) %>">
                                    <i class="icon-history"></i> <%= t('.view_logs') %>
                                </a>
                                
                                <% if can? :activate, project %>
                                    <a class="dropdown-item ajax datalist-g-link"
                                        href="<%= gns_project.activate_backend_projects_path(id: project) %>"
                                        data-method="PUT"
                                        data-confirm="<%= t('.activate_confirm')%>"
                                    >
                                        <i class="icon-checkmark4"></i> <%= t('.activate')%>
                                    </a>
                                <% end %>
                                
                                <% if can? :deactivate, project %>
                                    <a class="dropdown-item ajax datalist-g-link"
                                        href="<%= gns_project.deactivate_backend_projects_path(id: project) %>"
                                        data-method="PUT"
                                        data-confirm="<%= t('.deactivate_confirm')%>"
                                    >
                                        <i class="icon-blocked"></i> <%= t('.de_activate')%>
                                    </a>
                                <% end %>
                                
                                <% if can? :delete, project %>
                                    <div class="dropdown-divider"></div>
                                    
                                    <a class="dropdown-item ajax datalist-g-link"
                                        href="<%= gns_project.backend_project_path(project) %>"
                                        data-method="DELETE"
                                        data-confirm="<%= t('.delete_confirm') %>"
                                    >
                                        <i class="icon-bin"></i> <%= t('.delete') %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <!-- Showing 1 to 10 of 19 entries -->
        <%= page_entries_info @projects %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @projects, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>