<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <% if params["show_columns"].include?("code") %>
                <th>Code</th>
            <% end %>
            <% if params["show_columns"].include?("name") %>
                <th>Name</th>
            <% end %>
            <% if params["show_columns"].include?("customer") %>
                <th>Customer</th>
            <% end %>
            <% if params["show_columns"].include?("project_type") %>
                <th>Type</th>
            <% end %>
            <% if params["show_columns"].include?("start_date") %>
                <th>Start Date</th>
            <% end %>
            <% if params["show_columns"].include?("end_date") %>
                <th>End Date</th>
            <% end %>
            <% if params["show_columns"].include?("complete") %>
                <th>Complete</th>
            <% end %>
            <% if params["show_columns"].include?("status") %>
                <th>Status</th>
            <% end %>
            <% if params["show_columns"].include?("created_at") %>
                <th class="text-nowrap">Created At</th>
            <% end %>
            <% if params["show_columns"].include?("updated_at") %>
                <th class="text-nowrap">Updated At</th>
            <% end %>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <% if params["show_columns"].include?("code") %>
                    <td>
                        <a href="<%= gns_project.backend_project_path(project) %>"
                          class="modal-control" modal-size="full">
                            <%= project.code %>
                        </a>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("name") %>
                    <td><%= project.name %></td>
                <% end %>
                <% if params["show_columns"].include?("customer") %>
                    <td><%= project.customer_name %></td>
                <% end %>
                <% if params["show_columns"].include?("project_type") %>
                    <td><%= project.category_name %></td>
                <% end %>
                <% if params["show_columns"].include?("start_date") %>
                    <td>
                        <%= project.start_date.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("end_date") %>
                    <td>
                        <%= project.end_date.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("complete") %>
                    <td width="150px">
                        <% num = project.progress_percent.round %>
                        <div class="progress" title="<%= num %>% Complete">
                            <div class="progress-bar bg-teal" style="width: <%= num %>%">
                                <span><%= num %>%</span>
                            </div>
                        </div>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("status") %>
                    <td>
                        <span class="badge badge-<%= project.status %>"><%= t project.status %></span>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("created_at") %>
                    <td>
                        <%= project.created_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("updated_at") %>
                    <td>
                        <%= project.updated_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="<%= gns_project.backend_project_path(project) %>" class="dropdown-item">
                                    <i class="icon-file-eye"></i> View
                                </a>
                                <a class="dropdown-item edit-project-button"
                                    href="<%= gns_project.edit_backend_project_path(project) %>">
                                    <i class="icon-pencil7"></i> Update
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled"
                                    href="javascript:void(0)">
                                    <i class="icon-file-text2"></i> Logs
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item ajax datalist-g-link"
                                    href="<%= gns_project.backend_project_path(project) %>"
                                    data-method="DELETE"
                                    data-confirm="You are about to delete a project"
                                >
                                    <i class="icon-bin"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <!-- Showing 1 to 10 of 19 entries -->
        <%= page_entries_info @projects %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @projects, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>