<% content_for :title do %>
    <%= t('.project_logs')%>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> <%= t('.home')%></a>
    <a href="<%= gns_project.backend_projects_path %>" class="breadcrumb-item"> <%= t('.projects')%></a>
    <a href="<%= gns_project.backend_project_path(@project) %>" class="breadcrumb-item"><%= @project.name %></a>
    <span class="breadcrumb-item active"> <%= t('.logs')%></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-design mr-2"></i> <span class="font-weight-semibold"> <%= t('.project')%></span>: <%= @project.name %></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            // Select2 ajax
            $('[name=stage_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=task_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                stage_id: $('[name=stage_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=attachment_id]').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    allowClear: true,
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                task_id: $('[name=task_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });
            
            $('[name=task_id]').change(function() {
                $('[name=attachment_id]').val(null).trigger('change');
            });
            
            $('[name=stage_id]').change(function() {
                $('[name=task_id]').val(null).trigger('change');
                $('[name=attachment_id]').val(null).trigger('change');
            });
        });
    </script>
<% end %>

<div class="card">
    <%= render "menu_tab", title: 'Project logs' %>
    
    <div class="datalist"
        data-url="<%= gns_project.logs_list_backend_projects_path %>"
    >
        <form class="datalist-filters">
            <div class="card-body pb-0">    
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                    class="form-control font-weight-semibold daterange-single"
                                    placeholder=" <%= t('.select_from_date')%>"
                                    name="from_date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                    class="form-control font-weight-semibold daterange-single"
                                    placeholder=" <%= t('.select_to_date')%>"
                                    name="to_date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="log_type" data-placeholder=" <%= t('.select_log_type')%>"
                                class="form-control selectAllowClear"
                                data-container-css-class="font-weight-semibold">
                                <option></option>
                                <option value="GnsProject::Project"> <%= t('.project')%></option>
                                <option value="GnsProject::Task"> <%= t('.task')%></option>
                                <option value="GnsProject::Attachment"> <%= t('.attachment')%></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="stage_id" data-placeholder="<%= t('.select_stage_name')%>"
                              class="form-control select-ajax"
                              data-container-css-class="font-weight-semibold"
                              data-url="<%= gns_project.select2_backend_stages_path(category_id: @project.category_id) %>">
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="task_id" data-placeholder=" <%= t('.select_task_name')%>"
                              class="form-control select-ajax"
                              data-container-css-class="font-weight-semibold"
                              data-url="<%= gns_project.select2_backend_tasks_path(project_id: @project.id) %>">
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="attachment_id" data-placeholder=" <%= t('.select_attachment_name')%>"
                              class="form-control select-ajax"
                              data-container-css-class="font-weight-semibold"
                              data-url="<%= gns_project.select2_backend_attachments_path %>">
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-right">
                        <span class="btn btn-primary mb-3 datalist-search-button"> <%= t('.go')%></span>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <div class="datalist-header flex space-between">
                    <div class="text-left text-nowrap flex"></div>
                    <div class="text-right text-nowrap flex">
                        <div class="sort-by-box flex align-center mr-3">
                            <span class="mr-1"><%= t('.sort_by') %></span>
                            <select name="sort_by" data-placeholder="Sort by..." class="form-control selectPrimary sort-by-select">
                                <option value="created_at"><%= t('.date_time') %></option>
                            </select>
                            <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                        </div>
                        <div class="show-per-page flex align-center">
                            <span class="mr-1"><%= t('.per_page') %></span>
                            <select name="per_page" class="form-control selectPrimary per-page-select">
                                <option value="10"><%= t('.10') %></option>
                                <option value="25"><%= t('.25') %></option>
                                <option value="50"><%= t('.50') %></option>
                                <option value="100"><%= t('.100') %></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="table-responsive datalist-content">
                
            </div>
        </form>
    </div>
</div>

<%= render "comment_card", project: @project %>