<% content_for :title do %>
    <%= t('.new_project') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_projects_path %>" class="breadcrumb-item">Projects</a>
    <span class="breadcrumb-item active">Create</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Project</span> - Create</h4>
<% end %>

<% content_for :page_toolbar do %>
  
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            $('.new_project').submit(function(e) {
                e.preventDefault();
                
                var form = $(this);
                
                // clear modal
                project_modal.clear();
                
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize() + '&layout=modal',
                }).done(function(response) {
                    // do something
                    if (typeof(newProjectCallback) !== 'undefined') {
                        newProjectCallback(response);
                    }
                });
                
                return false;
            });
        });
    </script>
<% end %>


<div class="row">
    <div class="col-lg-12 col-md-12">
        
        <% if @project.errors.any? %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Oh snap!</span> Check a few things up (below) and try submitting again.
            </div>
        <% end %>
        
        <div class="card">
            <div class="card-header header-elements-inline bg-white">
                <h5 class="card-title"><%= t('.details') %></h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <%= render 'form', project: @project %>
            </div>
        </div>
        
    </div>
</div>