<% content_for :title do %>
    <%= t('.project_information') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_projects_path %>" class="breadcrumb-item">Projects</a>
    <span class="breadcrumb-item active"><%= @project.name %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-design mr-2"></i> <span class="font-weight-semibold">Project</span>: <%= @project.name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-project-button" href="<%= gns_project.new_backend_project_path %>">
        <b><i class="icon-plus22"></i></b>
        Create project
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        var project_modal = new gModal();
        var newProjectCallback;
        
        var request_project_modal = new gModal({size: 'md'});
        var request_project_callback;
        
        var start_progress_project_modal = new gModal({size: 'md'});
        var start_progress_project_callback;
        
        var finish_project_modal = new gModal({size: 'md'});
        var finish_project_callback;
        
        $(function() {
            $('.add-project-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                project_modal.load(button.attr('href'));
                
                newProjectCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        project_modal.hide();
                        datalists.forEach(function(datalist) {
                            datalist.refresh();
                        });     
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        project_modal.renderHtml(response);
                    }
                };
            });
            
            $('.request-project-button').click(function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                request_project_modal.load($(this).attr('href'));
                
                request_project_callback = function() {
                    location.reload();
                };
            });
            
            $('.start-progress-project-button').click(function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                start_progress_project_modal.load($(this).attr('href'));
                
                start_progress_project_callback = function() {
                    location.reload();
                };
            });
            
            $('.finish-project-button').click(function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                finish_project_modal.load($(this).attr('href'));
                
                finish_project_callback = function() {
                    location.reload();
                };
            });
        });
    </script>
<% end %>

<div class="card">
    <div class="card-header bg-white header-elements-sm-inline">
        <h6 class="card-title"><%= t('.details') %></h6>
        <div class="header-elements">
            <div class="list-icons">
                <a href="<%= gns_project.tasks_backend_projects_path(@project) %>"
                    class="btn btn-sm alpha-blue text-blue-800 border-blue-600">
                    <i class="icon-clipboard3 mr-1"></i> <%= t('.task_planning') %>
                </a>
                
                <% if can? :manpower_authorize, @project %>
                    <a href="<%= gns_project.authorization_backend_projects_path(@project) %>"
                        class="btn btn-sm alpha-blue text-blue-800 border-blue-600">
                        <i class="icon-user-check mr-1"></i> <%= t('.manpower') %>
                    </a>
                <% end %>
                
                <a href="<%= gns_project.logs_backend_projects_path(@project) %>"
                    class="btn btn-sm alpha-blue text-blue-800 border-blue-600">
                    <i class="icon-history mr-1"></i> <%= t('.view_logs') %>
                </a>
                
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="media-list">
            <div class="row">
                <div class="col-md-6">
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.project_type') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.category_name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.project_code') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.code %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.project_name') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.start_date') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.get_start_date.strftime('%A, %d/%m/%Y') if @project.get_start_date.present? %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.end_date') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.get_end_date.strftime('%A, %d/%m/%Y') if @project.get_end_date.present? %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.status') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <% if ((can? :mark_as_new, @project) or
                                (can? :send_request, @project) or
                                (can? :start_project, @project) or
                                (can? :finish, @project)) and false
                                # Hide drop-down
                            %>
                                <div class="dropdown">
                                    <a href="#" class="badge bg-<%= @project.status %> dropdown-toggle" data-toggle="dropdown"><%= t @project.status %></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <% if can? :mark_as_new, @project %>
                                            <a href="#" class="dropdown-item">
                                                <span class="badge badge-mark mr-2 border-new"></span>
                                                <%= t('mark_as_new') %>
                                            </a>
                                        <% end %>
                                        <% if can? :send_request, @project %>
                                            <a href="<%= gns_project.send_request_backend_projects_path(id: @project) %>"
                                                class="dropdown-item request-project-button">
                                                <span class="badge badge-mark mr-2 border-pending"></span>
                                                <%= 'Send/Submit Request' %>
                                            </a>
                                        <% end %>
                                        <% if can? :start_project, @project %>
                                            <a href="<%= gns_project.start_progress_backend_projects_path(id: @project) %>"
                                                class="dropdown-item start-progress-project-button">
                                                <span class="badge badge-mark mr-2 border-in_progress"></span>
                                                <%= t('start_progress') %>
                                            </a>
                                        <% end %>
                                        <% if can? :finish, @project %>
                                            <a href="<%= gns_project.finish_backend_projects_path(id: @project) %>"
                                               class="dropdown-item finish-project-button">
                                                <span class="badge badge-mark mr-2 border-finished"></span>
                                                <%= t('finish_project') %>
                                            </a>
                                        <% end %>
                                    </div>
                                </div>
                            <% else %>
                                <span class="badge bg-<%= @project.status %>"><%= t @project.status %></span>
                            <% end %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.priority') %></div>
                        </div>

                        <div class="ml-3 align-self-center font-weight-semibold">
                            <span class="badge badge-flat border-success"><%= t("#{@project.priority}") if @project.priority.present? %></span>
                        </div>
                    </li>
                </div>
                    
                <div class="col-md-6">
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.customer_code') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.customer_code %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.customer_name') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.customer_name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.project_manager') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.manager_name %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.created') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.created_at.strftime('%d/%m/%Y - %T') %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.last_updated') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.updated_at.strftime('%d/%m/%Y - %T') %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t('.added_by') %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @project.creator_name %>
                        </div>
                    </li>
                    
                    <div class="row border-bottom-dotted">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.complete') %></div>
                                </div>
        
                                <div class="ml-3 align-self-center" style="min-width: 120px">
                                    <% num = @project.progress_percent.round %>
                                    <div class="progress" title="<%= num %>% Complete">
                                        <div class="progress-bar bg-teal" style="width: <%= num %>%">
                                            <span><%= num %>%</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t('.opening_activities') %></div>
                                </div>
        
                                <div class="ml-3 align-self-center font-weight-semibold">
                                    <%= @project.open_tasks.count %>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>