<% if @project.tasks.empty? %>
    <div class="card-body">
        <p class="text-center text-warning pt-2">
            <%= t('.no_task_description') %>
        </p>
    </div>
<% else %>
    <table class="table">
        <thead>
            <tr class="alpha-primary">
                <th><%= t('.no') %></th>
                <th class="text-nowrap"><%= t('.task_description') %></th>
                <th class="text-nowrap"><%= t('.start_date') %></th>
                <th class="text-nowrap"><%= t('.end_date') %></th>
                <th class="text-nowrap"><%= t('.complete') %></th>
                <th class="text-nowrap"><%= t('.hours') %></th>
                <th class="text-nowrap"><%= t('.responsible') %></th>
                <th class="text-nowrap"><%= t('.status') %></th>
                <th class="text-nowrap"><%= t('.finished') %></th>
                <th class="text-nowrap"><%= t('.attached') %></th>
                <th class="text-center" style="width: 100px;"><%= t('.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each_with_index do |task,index| %>
                <tr>
                    <td class="font-weight-semibold"><%= index + 1 %></td>
                    <td>
                        <span class="text-default font-weight-semibold text-nowrap">
                            <%= task.name %>
                            <% if task.get_latest_remark_log.present? %>
                                <i class="font-size-sm text-teal-400 mb-sm-0 d-sm-inline-block icon-comments"
                                    data-popup="tooltip"
                                    data-original-title="<%= task.get_latest_remark_log %>">
                                </i>
                            <% end %>
                        </span>
                        <div class="text-muted font-size-sm">
                            <span data-popup="tooltip" data-original-title="<%= task.stage_name %>"><i class="icon-primitive-dot"></i><%= task.stage_name %></span>
                        </div>
                    </td>
                    <td><%= task.start_date.strftime("%d/%m/%Y") if task.start_date.present? %></td>
                    <td><%= task.end_date.strftime("%d/%m/%Y") if task.end_date.present? %></td>
                    <td>
                        <% if can? :update_progress, task %>
                            <a href="<%= gns_project.update_progress_backend_tasks_path(id: task) %>"
                                class="update-progress-task-button">
                                <div class="progress" title="<%= task.progress %>% progress of the task has been completed">
                                    <div class="progress-bar bg-teal" style="width: <%= task.progress %>%">
                                        <span><%= task.progress %>%</span>
                                    </div>
                                </div>
                            </a>
                        <% else %>
                            <div class="progress" title="<%= task.progress %>% progress of the task has been completed">
                                <div class="progress-bar bg-teal" style="width: <%= task.progress %>%">
                                    <span><%= task.progress %>%</span>
                                </div>
                            </div>
                        <% end %>
                    </td>
                    <td><%= task.hours %></td>
                    <td><%= task.employee_name %></td>
                    <td>
                        <span class="badge badge-flat badge-pill badge-<%= task.status %>"><%= t task.status %></span>
                    </td>
                    <td class="text-center">
                        <% if task.finished? %>
                            <% if can? :unfinish, task %>
                                <a href="<%= gns_project.unfinish_backend_tasks_path(id: task) %>"
                                    class="unfinish-task-button"
                                    title="Click to un-finish"
                                >
                                    <i class="icon-checkmark-circle text-success"></i>
                                </a>
                            <% else %>
                                <i class="icon-checkmark-circle text-success"></i>
                            <% end %>
                        <% else %>
                            <% if can? :finish, task %>
                                <a href="<%= gns_project.finish_backend_tasks_path(id: task) %>"
                                    class="finish-task-button"
                                    title="Click to finish"
                                >
                                    <i class="icon-cancel-circle2 text-danger"></i>
                                </a>
                            <% else %>
                                <i class="icon-cancel-circle2 text-danger"></i>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <% if task.attachments.count > 0 %>
                            <% if can? :attachments, task %>
                                <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                    class="badge badge-light badge-striped badge-striped-left border-left-teal text-primary-600 attachment-list-button"
                                    title="Click here to view and upload input/output data files"
                                >
                                    <%= task.attachments.count %> <%= task.attachments.count <= 1 ? 'file' : 'files' %>
                                </a>
                            <% else %>
                                <span class="badge badge-light badge-striped badge-striped-left border-left-teal text-primary-600"
                                    title="Click here to view and upload input/output data files"
                                >
                                    <%= task.attachments.count %> <%= task.attachments.count <= 1 ? 'file' : 'files' %>
                                </span>
                            <% end %>
                        <% else %>
                            
                            <% if can? :attachments, task %>
                                <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                    class="badge badge-light badge-striped badge-striped-left border-left-danger text-warning-600 attachment-list-button"
                                    title="Click here to view and upload input/output data files"
                                >
                                    <%= t('.no_file') %>
                                </a>
                            <% else %>
                                <span class="badge badge-light badge-striped badge-striped-left border-left-danger text-warning-600"
                                    title="Click here to view and upload input/output data files"
                                >
                                    <%= t('.no_file') %>
                                </span>
                            <% end %>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if can? :create_task, @project %>
                                        <a href="<%= gns_project.new_backend_task_path(project_id: @project.id, current_task_id: task.id) %>"
                                           class="dropdown-item insert-below-task-button">
                                            <i class="icon-add-to-list"></i> <%= t('.insert_below') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :update, task %>
                                        <a href="<%= gns_project.edit_backend_task_path(task) %>"
                                            class="dropdown-item edit-task-button">
                                            <i class="icon-pencil7"></i> <%= t('.update_info') %>
                                        </a>
                                    <% else %>
                                        <a href="javascript:void(0);"
                                            class="dropdown-item warning-button"
                                            data-warning="<%= t('.update_info_warning') %>">
                                            <i class="icon-pencil7"></i> <%= t('.update_info') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :finish, task %>
                                        <a href="<%= gns_project.finish_backend_tasks_path(id: task) %>"
                                            class="dropdown-item finish-task-button">
                                            <i class="icon-checkmark3"></i> <%= t('.finish_task') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :unfinish, task %>
                                        <a href="<%= gns_project.unfinish_backend_tasks_path(id: task) %>"
                                            class="dropdown-item unfinish-task-button">
                                            <i class="icon-x"></i> <%= t('.un_finish_task') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :close, task %>
                                        <a href="<%= gns_project.close_backend_tasks_path(id: task) %>"
                                            class="dropdown-item close-task-button">
                                            <i class="icon-lock5"></i> <%= t('.close_task') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :reopen, task %>
                                        <a href="<%= gns_project.reopen_backend_tasks_path(id: task) %>"
                                            class="dropdown-item reopen-task-button">
                                            <i class="icon-rotate-ccw2"></i> <%= t('.re_open_task') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :read, task %>
                                        <a href="<%= gns_project.backend_task_path(task) %>"
                                            class="dropdown-item">
                                            <i class="icon-new-tab2"></i> <%= t('.go_to_task') %>
                                        </a>
                                    <% end %>
                                    
                                    <div class="dropdown-divider"></div>
                                    
                                    <% if can? :attachments, task %>
                                        <a href="<%= gns_project.attachments_backend_tasks_path(task) %>"
                                            class="dropdown-item attachment-list-button">
                                            <i class="icon-attachment"></i> <%= t('.attachments') %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :delete, task %>
                                        <div class="dropdown-divider"></div>
                                        
                                        <a class="dropdown-item ajax delete-task-button"
                                            href="<%= gns_project.backend_task_path(task) %>"
                                            data-method="DELETE"
                                            data-confirm="You are about to delete a task"
                                        >
                                            <i class="icon-bin"></i> <%= t('.delete') %>
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>