<% content_for :title do %>
    <%= t('.task_planning') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> <%= t('home') %></a>
    <a href="<%= gns_project.backend_projects_path %>" class="breadcrumb-item"><%= t('.projects') %></a>
    <a href="<%= gns_project.backend_project_path(@project) %>" class="breadcrumb-item"><%= @project.name %></a>
    <span class="breadcrumb-item active"><%= t('.planning') %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-design mr-2"></i> <span class="font-weight-semibold"><%= t('.projects') %></span>: <%= @project.name %></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var task_modal = new gModal({size: 'lg'});
        var finish_task_modal = new gModal({size: 'md'});
        var finish_task_callback;
        var unfinish_task_modal = new gModal({size: 'md'});
        var unfinish_task_callback;
        var close_task_modal = new gModal({size: 'md'});
        var close_task_callback;
        var reopen_task_modal = new gModal({size: 'md'});
        var reopen_task_callback;
        var update_progress_task_modal = new gModal({size: 'md'});
        var show_task_modal = new gModal();
        
        var task_list_box = new ajaxBox(
            $('.task-planning-list'),
            '<%= gns_project.tasks_list_backend_projects_path(@project.id) %>',
            function(box) {
                // apply g-link
                new gLink(box.find('.delete-task-button'),
                    function(link) {
                        task_list_box.load();
                    }
                );
            }
        );
        
        $(function() {
            
            $('.add-task-button').click(function(e) {
                e.preventDefault();
                
                task_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.edit-task-button', function(e) {
                e.preventDefault();
                
                task_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.insert-below-task-button', function(e) {
                e.preventDefault();
                
                task_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.finish-task-button', function(e) {
                e.preventDefault();
                
                finish_task_modal.load($(this).attr('href'));
                
                finish_task_callback = function() {
                    task_list_box.load();
                };
            });
            
            $(document).on('click', '.unfinish-task-button', function(e) {
                e.preventDefault();
                
                unfinish_task_modal.load($(this).attr('href'));
                
                unfinish_task_callback = function() {
                    task_list_box.load();
                };
            });
            
            $(document).on('click', '.close-task-button', function(e) {
                e.preventDefault();
                
                close_task_modal.load($(this).attr('href'));
                
                close_task_callback = function() {
                    task_list_box.load();
                };
            });
            
            $(document).on('click', '.reopen-task-button', function(e) {
                e.preventDefault();
                
                reopen_task_modal.load($(this).attr('href'));
                
                reopen_task_callback = function() {
                    task_list_box.load();
                };
            });
            
            $(document).on('click', '.update-progress-task-button', function(e) {
                e.preventDefault();
                
                update_progress_task_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.attachment-list-button', function(e) {
                e.preventDefault();
                
                show_task_modal.load($(this).attr('href'));
            });
            
            // ajax box task list
            task_list_box.load();
        });
    </script>
<% end %>

<div class="card">
    <%= render "menu_tab" %>
    
    <div class="card-header header-elements-inline">
        <h5 class="mb-0"><%= t('.task_list') %></h5>
        <% if (can? :create_task, @project) || (can? :download_attachments, @project) %>
            <div class="text-right">
                <% if can? :create_task, @project %>
                    <a href="<%= gns_project.new_backend_task_path(project_id: @project.id) %>"
                        class="btn btn-sm bg-blue add-task-button">
                        <i class="icon-plus22 mr-1"></i> <%= t('.add_new_task') %>
                    </a>
                <% else %>
                    <button type="button"
                        class="btn btn-sm bg-blue warning-button"
                        data-warning="<%= t('.create_task_warning') %>">
                        <i class="icon-plus22 mr-1"></i> <%= t('.add_new_task') %>
                    </button>
                <% end %>
                <% if @project.count_attachments > 0 %>
                    <% if can? :download_attachments, @project %>
                        <a class="btn btn-sm btn-light ml-2"
                           href="<%= gns_project.download_attachments_backend_projects_path(@project.id) %>"
                           target="_blank">
                            <i class="icon-download4 mr-1"></i> <%= t('.download_all') %>
                        </a>
                    <% else %>
                        <button type="button"
                            class="btn btn-sm bg-light ml-2 warning-button"
                            data-warning="<%= t('.download_all_warning') %>">
                            <i class="icon-plus22 mr-1"></i> <%= t('.download_all') %>
                        </button>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
    
    <div class="table-responsive task-planning-list" style="position: relative;height: 440px;"></div>
</div>

<%= render "comment_card", project: @project %>