<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <th>Type Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Creator</th>
            <th>Created At</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= category.name %></td>
                <td><%= category.description %></td>
                <td>
                    <span class="badge badge-<%= category.get_status_label %>"><%= t category.get_status_label %></span>
                </td>
                <td>
                    <%= category.creator_name %>
                </td>
                <td title="<%= category.created_at.strftime("%d/%m/%Y - %T") %>">
                    <%= category.created_at.strftime("%d/%m/%Y") %>
                </td>
                <td class="text-right">
                    <div class="list-icons">
                        <% if (can? :read, category) or (can? :update, category) or (can? :delete, category) %>
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if can? :read, category %>
                                        <a href="<%= gns_project.backend_category_path(category) %>" class="dropdown-item">
                                            <i class="icon-file-eye"></i> View details
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :update, category %>
                                        <a class="dropdown-item edit-category-button"
                                            href="<%= gns_project.edit_backend_category_path(category) %>">
                                            <i class="icon-pencil7"></i> Update Info
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :activate, category %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_project.activate_backend_categories_path(id: category) %>"
                                            data-method="PUT"
                                            data-confirm="You are about to activate a category"
                                        >
                                            <i class="icon-checkmark4"></i> Activate
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :deactivate, category %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_project.deactivate_backend_categories_path(id: category) %>"
                                            data-method="PUT"
                                            data-confirm="You are about to deactivate a category"
                                        >
                                            <i class="icon-blocked"></i> De-activate
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :delete, category %>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_project.backend_category_path(category) %>"
                                            data-method="DELETE"
                                            data-confirm="You are about to delete a category"
                                        >
                                            <i class="icon-bin"></i> Delete
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <!-- Showing 1 to 10 of 19 entries -->
        <%= page_entries_info @categories %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @categories, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>