<% content_for :title do %>
    Show Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_categories_path %>" class="breadcrumb-item">Project Category</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Project Category</span> - <%= @category.name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <% if can? :create, GnsProject::Category %>
        <a class="btn btn-primary add-category-button" href="<%= gns_project.new_backend_category_path %>">
            <b><i class="icon-plus22"></i></b> Create Category
        </a>
    <% end %>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var stage_modal = new gModal({size: 'md'});
        var stage_list_box = new ajaxBox(
            $('.stage-list'),
            '<%= gns_project.stages_backend_categories_path(@category.id) %>',
            function(box) {
                // apply g-link for delete stage button
                new gLink(box.find('.delete-stage-button, .enable-stage-button'), function(link) {
                    stage_list_box.load();
                });
            }
        );
        
        var category_modal = new gModal({size: 'md'});
        var newCategoryCallback;
        
        $(function() {
            $('.add-category-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                category_modal.load(button.attr('href'));
                
                newCategoryCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        category_modal.hide();
                        datalists.forEach(function(datalist) {
                            datalist.refresh();
                        });     
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        category_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-category-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                // load modal edit category
                category_modal.load(button.attr('href'));
                
                // after update category event
                updateCategoryCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // Hide modal
                        category_modal.hide();
                        location.reload();
                    } else {
                        // validation error
                        category_modal.renderHtml(response);
                    }
                }
                
            });
            
            $('.add-stage-button').click(function(e) {
                e.preventDefault();
                
                stage_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.insert-below-stage-button', function(e) {
                e.preventDefault();
                
                stage_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.edit-stage-button', function(e) {
                e.preventDefault();
                
                stage_modal.load($(this).attr('href'));
            });
            
            // ajax box stage list
            stage_list_box.load();
        });
    </script>
<% end %>

<div class="row">
    <div class="col-lg-12 col-md-12 col-ms-12">
        
        <!-- Bottom tabs -->
        <div class="card">
            
            <div class="card-header bg-white header-elements-sm-inline">
                <h6 class="card-title font-weight-semibold">Category Details</h6>
                <div class="header-elements">
                    <% if (can? :update, @category) %>
                        <div class="btn-group mr-3">
                            <button type="button" class="btn bg-blue-600 btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <% if can? :update, @category %>
                                    <a class="dropdown-item edit-category-button"
                                        href="<%= gns_project.edit_backend_category_path(@category) %>">
                                        <i class="icon-pencil5"></i> Update
                                    </a>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <ul class="media-list">
                    <div class="row">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Category name:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @category.name %>
                                </div>
                            </li>
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Discription:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @category.description %>
                                </div>
                            </li>
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Status:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <span class="badge badge-<%= @category.get_status_label %>"><%= t @category.get_status_label %></span>
                                </div>
                            </li>
                        </div>
                            
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Added by:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-blue-800">
                                    <%= @category.creator_name %>
                                </div>
                            </li>
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Created:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-muted">
                                    <%= @category.created_at.strftime('%d %b, %Y') %>
                                </div>
                            </li>
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold">Updated:</div>
                                </div>
        
                                <div class="ml-3 align-self-center text-muted">
                                    <%= @category.updated_at.strftime('%d %b, %Y') %>
                                </div>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /bottom tabs -->
        
        <div class="card">
            <div class="card-header header-elements-inline">
                <h6 class="card-title font-weight-semibold">Stage List</h6>
                <div class="header-elements">
                    <% if can? :create, GnsProject::Stage %>
                        <a href="<%= gns_project.new_backend_stage_path(category_id: @category.id) %>" class="btn bg-blue btn-sm mr-3 add-stage-button">Add stage</a>
                    <% end %>
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="table-responsive stage-list" style="position: relative; min-height: 130px">
                
            </div>
        </div>
        
    </div>
</div>