<% content_for :title do %>
    Show Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_categories_path %>" class="breadcrumb-item">Project Category</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Project Category</span> - <%= @category.name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary create-pcategory-button" href="<%= gns_project.new_backend_category_path %>">
        <b><i class="icon-plus22"></i></b> Create Category
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        var pcategory_modal = new gModal();
        // global modal cho việc tạo mới stage
        var stage_modal = new gModal();
        var stage_list_box = new ajaxBox($('.stage-list'), '<%= gns_project.stages_backend_categories_path(@category.id) %>');
        $(function() {
            $('.create-pcategory-button').click(function(e) {
                e.preventDefault();
                
                pcategory_modal.load($(this).attr('href'));
            });
            
            $('.add-stage-button').click(function(e) {
                e.preventDefault();
                
                stage_modal.load($(this).attr('href'));
            });
            
            $(document).on('click', '.edit-stage-button', function(e) {
                e.preventDefault();
                
                stage_modal.load($(this).attr('href'));
            });
            
            // ajax box stage list
            stage_list_box.load();
        });
    </script>
<% end %>

<div class="row">
    <div class="col-md-7">
        
        <!-- Bottom tabs -->
        <div class="card">
            
            <div class="card-header bg-white header-elements-sm-inline">
                <h6 class="card-title font-weight-semibold">Category Details</h6>
                <div class="header-elements">
                    <ul class="nav nav-tabs nav-tabs-bottom card-header-tabs mx-0">
                        <div class="list-icons ml-3">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item"><i class="icon-pencil7"></i> Update</a>
                                    <a href="#" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tab-pane fade show active" id="bottom-tab1">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Category name:</td>
                                        <td class="text-right"><a href="#"><%= @category.name %></a></td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Added by:</td>
                                        <td class="text-right"><a href="#">Winnie</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-pane fade show active" id="bottom-tab1">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-semibold">Updated:</td>
                                        <td class="text-right text-muted">12 May, 2015</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-semibold">Created:</td>
                                        <td class="text-right text-muted">25 Feb, 2015</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bottom tabs -->
        
        <div class="card">
            <div class="card-header header-elements-inline">
                <h6 class="card-title font-weight-semibold">Stage List</h6>
                <div class="header-elements">
                    <a href="<%= gns_project.new_backend_stage_path(category_id: @category.id) %>" class="btn bg-blue mr-3 add-stage-button">Add stage</a>
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="table-responsive stage-list" style="position: relative; min-height: 130px">
                
            </div>
        </div>
        
    </div>
</div>