<div class="tab-pane show active" id="tabContact">
    <div class="card-group-control card-group-control-left" id="accordion-control">

        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsContact-contacts">Contacts
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on">Select all</button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off">Deselect all</button>
                </div>
            </div>
            
            <div id="gnsContact-contacts" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.create"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.create') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.create">Create</label>
                                </div>
                            </td>
                            <td>Allow users to <b>create</b> a contact</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.read_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.read_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.read_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.read_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.read_own">Read own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view</b> their own contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.read_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.read_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.read_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.read_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.read_other">Read other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view</b> other people's contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.contacts.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.update_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.update_own">Update own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update</b> their own contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.contacts.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.update_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.update_other">Update other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update</b> other people's contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.delete_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.delete_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.delete_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.delete_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.delete_own">Delete own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> their own contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.delete_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.delete_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.delete_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.delete_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.delete_other">Delete other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> other people's contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.contacts.activate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.activate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.activate_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.activate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.activate_own">Activate own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>activate</b> their own contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.activate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.activate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.activate_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.activate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.activate_other">Activate other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>activate</b> other people's contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.deactivate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.deactivate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.deactivate_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.deactivate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.deactivate_own">De-activate own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>de-activate</b> their own contacts</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.contacts.deactivate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.contacts.deactivate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.contacts.deactivate_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.contacts.deactivate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.contacts.deactivate_other">De-activate other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>de-activate</b> other people's contacts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsContact-categories">Groups
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on">Select all</button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off">Deselect all</button>
                </div>
            </div>

            <div id="gnsContact-categories" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.categories.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.create"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.create') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.create">Create</label>
                                </div>
                            </td>
                            <td>Allow users to <b>create</b> a contact group</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.read_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.read_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.read_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.read_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.read_own">Read own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view</b> their own contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.read_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.read_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.read_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.read_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.read_other">Read other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view</b> other people's contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.categories.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.update_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.update_own">Update own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update</b> their own contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.update_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.update_other">Update other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update</b> other people's contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.delete_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.delete_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.delete_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.delete_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.delete_own">Delete own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> their own contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.delete_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.delete_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.delete_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.delete_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.delete_other">Delete other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> other people's contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_contact.categories.activate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.activate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.activate_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.activate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.activate_own">Activate own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>activate</b> their own contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.activate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.activate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.activate_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.activate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.activate_other">Activate other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>activate</b> other people's contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.deactivate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.deactivate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.deactivate_own"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.deactivate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.deactivate_own">De-activate own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>de-activate</b> their own contact groups</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_contact.categories.deactivate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_contact.categories.deactivate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_contact.categories.deactivate_other"
                                        <%= 'checked' if @role.has_permission?('gns_contact.categories.deactivate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_contact.categories.deactivate_other">De-activate other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>de-activate</b> other people's contact groups</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>