<div class="tab-pane fade" id="tabEmployee">
    <div class="card-group-control card-group-control-left" id="accordion-control">

        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsEmployee-employees"><%= t('.employees') %>
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on"><%= t('.select_all') %></button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off"><%= t('.deselect_all') %></button>
                </div>
            </div>
            
            <div id="gnsEmployee-employees" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.create"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.create') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.create"><%= t('.create_upp') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.create') %></b> <%= t('.a_new_employee') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.create.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.create.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.create.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.read_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.read_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.read_own"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.read_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.read_own"><%= t('.read_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.view_read') %></b> <%= t('.their_own_employees') %></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.read_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.read_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.read_other"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.read_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.read_other"><%= t('.read_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.view_read') %></b> <%= t('.other_people_employees') %></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_employee.employees.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.update_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.update_own"><%= t('.update_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.update_info') %></b> <%= t('.their_own_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.update_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.update_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.update_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_employee.employees.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.update_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.update_other"><%= t('.update_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.update_info') %></b> <%= t('.other_people_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.update_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.update_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.update_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_employee.employees.activate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.activate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.activate_own"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.activate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.activate_own"><%= t('.activate_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.activate') %></b> <%= t('.their_own_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.activate_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.activate_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.activate_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.activate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.activate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.activate_other"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.activate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.activate_other"><%= t('.activate_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.activate') %></b> <%= t('.other_people_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.activate_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.activate_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.activate_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.deactivate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.deactivate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.deactivate_own"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.deactivate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.deactivate_own"><%= t('.de_activate_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.de_activate') %></b> <%= t('.their_own_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.deactivate_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.deactivate_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.deactivate_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.deactivate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.deactivate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.deactivate_other"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.deactivate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.deactivate_other"><%= t('.de_activate_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.de_activate') %></b> <%= t('.other_people_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.deactivate_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.deactivate_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.deactivate_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.delete_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.delete_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.delete_own"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.delete_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.delete_own"><%= t('.delete_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.delete') %></b> <%= t('.their_own_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.delete_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.delete_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.delete_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_employee.employees.delete_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_employee.employees.delete_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_employee.employees.delete_other"
                                        <%= 'checked' if @role.has_permission?('gns_employee.employees.delete_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_employee.employees.delete_other"><%= t('.delete_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.delete') %></b> <%= t('.other_people_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_employee.employees.delete_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_employee.employees.delete_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_employee.employees.delete_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsCore-users"><%= t('.user_account') %>
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on"><%= t('.select_all') %></button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off"><%= t('.deselect_all') %></button>
                </div>
            </div>
            
            <div id="gnsCore-users" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.create"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.create') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.create"><%= t('.create_upp') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.create') %></b> <%= t('.an_account_for_employees') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.create.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.create.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.create.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.read_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.read_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.read_own"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.read_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.read_own"><%= t('.read_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.view_read') %></b> <%= t('.their_own_accounts') %></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.read_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.read_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.read_other"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.read_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.read_other"><%= t('.read_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.view_read') %></b> <%= t('.other_people_accounts') %></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_core.users.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.update_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.update_own"><%= t('.update_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.update_info_change_password') %></b> <%= t('.their_own_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.update_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.update_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.update_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_core.users.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.update_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.update_other"><%= t('.update_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.update_info_change_password') %></b> <%= t('.other_people_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.update_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.update_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.update_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_core.users.deactivate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.deactivate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.deactivate_own"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.deactivate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.deactivate_own"><%= t('.lock_deactivate_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.lock_ban_block') %></b> <%= t('.their_own_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.deactivate_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.deactivate_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.deactivate_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.deactivate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.deactivate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.deactivate_other"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.deactivate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.deactivate_other"><%= t('.lock_deactivate_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.lock_ban_block') %></b> <%= t('.other_people_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.deactivate_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.deactivate_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.deactivate_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.activate_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.activate_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.activate_own"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.activate_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.activate_own"><%= t('.unlock_activate_own') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.unlock') %></b> <%= t('.their_own_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.activate_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.activate_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.activate_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_core.users.activate_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_core.users.activate_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_core.users.activate_other"
                                        <%= 'checked' if @role.has_permission?('gns_core.users.activate_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_core.users.activate_other"><%= t('.unlock_activate_other') %></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to') %> <b><%= t('.unlock') %></b> <%= t('.other_people_accounts') %></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_core.users.activate_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_core.users.activate_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_core.users.activate_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>