<%= form_for([gns_core, :backend, user], html: {multipart: true, autocomplete: 'off'}) do |f| %>
    <fieldset>
        <input type="hidden" name="user[employee_id]" value="<%= @user.employee_id %>">
        <div class="form-group">
            <label class="d-block font-weight-semibold"><%= t(".email") %> <span class="text-danger">*</span></label>
            <input type="text" autocomplete="email"
                class="form-control <%= 'border-danger' if user.errors.full_messages_for(:email).present? %>" placeholder="<%= t(".placeholder_email") %>"
                name="user[email]"
                value="<%= user.email %>"
            >
            <% if user.errors.full_messages_for(:email).present? %>
                <span class="form-text text-danger"><%= user.errors.full_messages_for(:email).join('<br/>').html_safe %></span>
            <% end %>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold"><%= t(".new_password") %>
                        <% if user.id.nil? %><span class="text-danger">*</span><% end %>
                    </label>
                    <input type="password" autocomplete="new-password"
                        class="form-control <%= 'border-danger' if user.errors.full_messages_for(:password).present? %>" placeholder="<%= t(".placeholder_new_password") %>"
                        name="user[password]"
                    >
                    <% if user.errors.full_messages_for(:password).present? %>
                        <span class="form-text text-danger"><%= user.errors.full_messages_for(:password).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block font-weight-semibold"><%= t(".repeat_password") %>
                        <% if user.id.nil? %><span class="text-danger">*</span><% end %>
                    </label>
                    <input type="password" autocomplete="re-password"
                        class="form-control <%= 'border-danger' if user.errors.full_messages_for(:password_confirmation).present? %>" placeholder="<%= t(".placeholder_repeat_new_password") %>"
                        name="user[password_confirmation]"
                        value="<%= user.password_confirmation %>"
                    >
                    <% if user.errors.full_messages_for(:password_confirmation).present? %>
                        <span class="form-text text-danger"><%= user.errors.full_messages_for(:password_confirmation).join('<br/>').html_safe %></span>
                    <% end %>
                </div>
            </div>
        </div>
        
        
            
        <div class="form-group">
            <label class="d-block"><%= t(".roles") %></label>
            <select class="form-control select-ajax" multiple
                data-container-css-class="font-weight-semibold"
                data-placeholder="Choose roles"
                data-url="<%= gns_core.select2_backend_roles_path %>"
                name="user[role_ids][]"
            >
                <% values = user.roles.map {|r| {text: r.name, value: r.id}} %>
                <% values.each do |value| %>
                    <% if value[:value].present? %>
                        <option selected="selected" value="<%= value[:value] %>"><%= value[:text] %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
    </fieldset>
    
    <hr class="mt-0">
    <div class="text-left">
        <button type="submit" class="btn btn-primary"><%= t("save") %></button>
        <button type="button" class="btn btn-light" data-dismiss="modal"><%= t("cancel") %></button>
        
    </div>
<% end %>