<% content_for :title do %>
    <%= t('.gantt_chart') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> <%= t('home') %></a>
    <span class="breadcrumb-item active"><%= t('.gantt_chart') %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class=""></i> <span class="font-weight-semibold"><%= t('.gantt_chart') %></span></h4>
<% end %>

<% content_for :page_stylesheets do %>
<%= stylesheet_link_tag "/gns_ux/assets/backend/css/gantt-chart.css" %>
<% end %>

<% content_for :page_script do %>
    <script>
        $(function() {
            var anchor = 0;
            $('input[name="anchor"]').val(anchor);
            
            $('.datalist-prev-button').click(function(){
                anchor --;
    
                $('input[name="anchor"]').val(anchor);
                $('.datalist-search-button').click();
            });
            
            $('.datalist-next-button').click(function(){
                anchor ++;
    
                $('input[name="anchor"]').val(anchor);
                $('.datalist-search-button').click();
            });
            
            //$('.reset-anchor').click(function(){
            //    anchor = 0;
            //
            //    $('input[name="anchor"]').val(anchor);
            //});
        })
    </script>
<% end %>

<div class="card datalist"
     data-url="<%= gns_report.gantt_chart_data_backend_reports_path %>"
>
    <div class="card-header header-elements-inline bg-white">
        <h5 class="card-title"><%= t('.employees_tasks') %></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-2">
                    <select class="form-control selectAllowClear"
                        data-placeholder="<%= t('.select_chart_type') %>"
                        name="chart_type">
                        <option></option>
                        <option selected value="<%= 'week' %>"><%= t('.week') %></option>
                        <option value="<%= 'month' %>"><%= t('.month') %></option>
                        <option value="<%= 'year' %>"><%= t('.year') %></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select name="employee_ids[]" data-placeholder="<%= t('.select_employees') %>"
                          class="form-control select-ajax"
                          multiple
                          data-url="<%= gns_employee.select2_backend_employees_path %>">
                        </select>
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button reset-anchor"><%= t('go') %></span>
                </div>
                <div class="col-md-3 text-right">
                    <input type="hidden" name="anchor" value="">
                    <span class="btn btn-light mb-3 datalist-prev-button"><i class="icon-previous2"></i> <%= t('.prev') %></span>
                    <span class="btn btn-light mb-3 datalist-next-button"><%= t('.next') %> <i class="icon-next2"></i></span>
                </div>
            </div>
        </div>
        
        <div class="datalist-content">
            
        </div>
    </form>
</div>