<% params["show_columns"] = [] if !params["show_columns"].present? %>
<table class="table table-hover">
    <thead>
        <tr class="bg-info-700">
            <% if params["show_columns"].include?("code") %>
                <th class="text-nowrap"><%= t(".code") %></th>
            <% end %>
            <% if params["show_columns"].include?("name") %>
                <th class="text-nowrap"><%= t(".name") %></th>
            <% end %>
            <% if params["show_columns"].include?("department") %>
                <th class="text-nowrap"><%= t(".department") %></th>
            <% end %>
            <% if params["show_columns"].include?("position") %>
                <th class="text-nowrap"><%= t(".position") %></th>
            <% end %>
            <% if params["show_columns"].include?("labor_contract_type") %>
                <th class="text-nowrap"><%= t(".labor_contract_type") %></th>
            <% end %>
            <% if params["show_columns"].include?("starting_date") %>
                <th class="text-nowrap"><%= t(".starting_date") %></th>
            <% end %>
            <% if params["show_columns"].include?("phone") %>
                <th class="text-nowrap"><%= t(".telephone") %></th>
            <% end %>
            <% if params["show_columns"].include?("mobile") %>
                <th class="text-nowrap"><%= t(".mobile_phone") %></th>
            <% end %>
            <% if params["show_columns"].include?("email") %>
                <th class="text-nowrap"><%= t(".email") %></th>
            <% end %>
            <% if params["show_columns"].include?("address") %>
                <th class="text-nowrap"><%= t(".address") %></th>
            <% end %>
            <% if params["show_columns"].include?("status") %>
                <th class="text-nowrap"><%= t(".status") %></th>
            <% end %>
            <% if params["show_columns"].include?("creator") %>
                <th class="text-nowrap"><%= t(".added_by") %></th>
            <% end %>
            <% if params["show_columns"].include?("created_at") %>
                <th class="text-nowrap"><%= t(".created_date") %></th>
            <% end %>
            <% if params["show_columns"].include?("updated_at") %>
                <th class="text-nowrap"><%= t(".updated_date") %></th>
            <% end %>
            <th class="text-nowrap text-right"><%= t(".actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
            <tr>
                <% if params["show_columns"].include?("code") %>
                    <td><%= employee.code %></td>
                <% end %>
                <% if params["show_columns"].include?("name") %>
                    <td class="font-weight-semibold"><%= employee.name %></td>
                <% end %>
                <% if params["show_columns"].include?("department") %>
                    <td><%= employee.department %></td>
                <% end %>
                <% if params["show_columns"].include?("position") %>
                    <td><%= employee.position %></td>
                <% end %>
                <% if params["show_columns"].include?("labor_contract_type") %>
                    <td><%= t(".#{employee.labor_contract_type}") if employee.labor_contract_type.present? %></td>
                <% end %>
                <% if params["show_columns"].include?("starting_date") %>
                    <td><%= employee.starting_date.strftime("%d/%m/%Y") if employee.starting_date.present? %></td>
                <% end %>
                <% if params["show_columns"].include?("phone") %>
                    <td><%= employee.phone %></td>
                <% end %>
                <% if params["show_columns"].include?("mobile") %>
                    <td><%= employee.mobile %></td>
                <% end %>
                <% if params["show_columns"].include?("email") %>
                    <td><%= employee.email %></td>
                <% end %>
                <% if params["show_columns"].include?("address") %>
                    <td><%= display_address(employee) %></td>
                <% end %>
                <% if params["show_columns"].include?("status") %>
                    <td>
                        <%= display_active(employee.active) %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("creator") %>
                    <td>
                        <%= employee.creator_name %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("created_at") %>
                    <td>
                        <%= employee.created_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <% if params["show_columns"].include?("updated_at") %>
                    <td>
                        <%= employee.updated_at.strftime("%d/%m/%Y") %>
                    </td>
                <% end %>
                <td class="text-right">
                    <div class="list-icons">
                        <% if (can? :read, employee) or (can? :update, employee) or (can? :delete, employee) or
                            (can? :activate, employee) or (can? :deactivate, employee)
                        %>
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
    
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% if can? :read, employee %>
                                        <a class="dropdown-item"
                                            href="<%= gns_employee.backend_employee_path(employee) %>">
                                            <i class="icon-file-eye"></i><%= t(".view_details") %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :update, employee %>
                                        <a class="dropdown-item edit-employee-button"
                                            href="<%= gns_employee.edit_backend_employee_path(employee) %>">
                                            <i class="icon-pencil7"></i><%= t(".update_info") %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :activate, employee %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_employee.activate_backend_employees_path(id: employee) %>"
                                            data-method="PUT"
                                            data-confirm="You want to activate an employee"
                                        >
                                            <i class="icon-checkmark4"></i><%= t(".activate") %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :deactivate, employee %>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_employee.deactivate_backend_employees_path(id: employee) %>"
                                            data-method="PUT"
                                            data-confirm="<%= t(".de_confirm") %>"
                                        >
                                            <i class="icon-blocked"></i><%= t(".de_activate") %>
                                        </a>
                                    <% end %>
                                    
                                    <% if can? :delete, employee %>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item ajax datalist-g-link"
                                            href="<%= gns_employee.backend_employee_path(employee) %>"
                                            data-method="DELETE"
                                            data-confirm="<%= t(".de_delete") %>"
                                        >
                                            <i class="icon-bin"></i><%= t(".delete") %>
                                        </a>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-area">
    <div class="page_entries_info">
        <%= page_entries_info @employees %>
    </div>

    <div class="pagination_style paging_simple_numbers">
        <%= will_paginate @employees, previous_label: 'Prev'.html_safe, next_label: 'Next'.html_safe, renderer: BootstrapPagination::Rails, class: 'align-self-center' %>
    </div>
</div>