<% content_for :title do %>
    <%= t(".show_employee") %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i><%= t("home") %></a>
    <a href="<%= gns_employee.backend_employees_path %>" class="breadcrumb-item"><%= t(".employees") %></a>
    <span class="breadcrumb-item active"><%= @employee.name %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-design mr-2"></i> <span class="font-weight-semibold"><%= t(".employee") %></span>: <%= @employee.name %></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        // global modal
        var user_modal = new gModal({size: 'md'});
        var new_user_callback;
        
        var account_infomation_box = new ajaxBox(
            $('.account-infomation'),
            '<%= gns_employee.account_box_backend_employees_path(@employee.id) %>'
        );
        
        $(function() {
            
            $(document).on('click', '.create-user-button', function(e) {
                e.preventDefault();
                
                user_modal.load($(this).attr('href'));
                
                new_user_callback = function() {
                    account_infomation_box.load();
                };
            });
            
            $(document).on('click', '.update-user-button', function(e) {
                e.preventDefault();
                
                user_modal.load($(this).attr('href'));
                
                update_user_callback = function() {
                    account_infomation_box.load();
                };
            });
            
            account_infomation_box.load();
        });
    </script>
<% end %>

<div class="card">
    <div class="card-header bg-white header-elements-sm-inline">
        <h6 class="card-title"><%= t(".employee_details") %></h6>
        <div class="header-elements">
            <div class="list-icons">                
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="media-list">
            <div class="row">
                <div class="col-md-6">
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".employee_code_id") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.code %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".full_name") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.name %>
                        </div>
                    </li>
                    
                    <div class="row border-bottom-dotted">
                        <div class="col-md-7">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t(".date_of_birth") %></div>
                                </div>
        
                                <div class="ml-3 align-self-center">
                                    <%= @employee.birthday.strftime('%d/%m/%Y') if @employee.birthday.present? %>
                                </div>
                            </li>
                        </div>
                        <div class="col-md-5">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t(".gender") %></div>
                                </div>
        
                                <div class="ml-3 align-self-center">
                                    <%= t("#{@employee.gender}") if @employee.gender.present? %>
                                </div>
                            </li>
                        </div>
                    </div>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".department") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.department %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".position") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.position %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".labor_contract_type") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= t(".#{@employee.labor_contract_type}") if @employee.labor_contract_type.present? %>
                        </div>
                    </li>
                    
                    <div class="row border-bottom-dotted">
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t(".starting_date") %></div>
                                </div>
        
                                <div class="ml-3 align-self-center">
                                    <%= @employee.starting_date.strftime('%d/%m/%Y') if @employee.starting_date.present? %>
                                </div>
                            </li>
                        </div>
                        <div class="col-md-6">
                            <li class="media mt-0 py-2 px-2">
                                <div class="media-body">
                                    <div class="font-weight-semibold"><%= t(".leaving_date") %></div>
                                </div>
        
                                <div class="ml-3 align-self-center">
                                    <%= @employee.leaving_date.strftime('%d/%m/%Y') if @employee.leaving_date.present? %>
                                </div>
                            </li>
                        </div>
                    </div>                        
                </div>
                    
                <div class="col-md-6">
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".telephone") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.phone %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".mobile_phone") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.mobile %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".email") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= @employee.email %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".added_by") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= creator_name(@employee.creator) %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".created") %></div>
                        </div>

                        <div class="ml-3 align-self-center text-muted">
                            <%= @employee.created_at.strftime('%d/%m/%Y - %T') %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".last_updated") %></div>
                        </div>

                        <div class="ml-3 align-self-center text-muted">
                            <%= @employee.updated_at.strftime('%d/%m/%Y - %T') %>
                        </div>
                    </li>
                    
                    <li class="media mt-0 py-2 px-2 border-bottom-dotted">
                        <div class="media-body">
                            <div class="font-weight-semibold"><%= t(".address") %></div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <%= display_address(@employee) %>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-header bg-white header-elements-sm-inline">
        <h6 class="card-title"><%= t(".user_account") %></h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="account-infomation"></div>
</div>