<% notifications = GnsNotification::Notification.all %>
<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title"><%= t('.recent_activities') %></h6>
        <div class="header-elements">
            <a href="#" class="badge bg-orange align-self-start ml-3"><%= t('.view_all') %></a>
            
            <div class="list-icons ml-3">
                <a href="#" class="list-icons-item"><i class="icon-sync"></i></a>
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <ul class="media-list">
            <% notifications.order('created_at desc').limit(10).each do |notification| %>
                <li class="media">
                    <div class="mr-3 position-relative">
                        <img src="<%= notification.user.avatar.present? ? notification.user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                            width="36" height="36" class="rounded-circle" alt=""
                        >
                    </div>
    
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <a href="#"><%= notification.user_name %></a>
                            <span class="font-size-sm text-muted"><%= time_ago_in_words(notification.created_at)  %></span>
                        </div>
    
                        <span data-popup="tooltip"
                            data-original-title="<%= t(notification.phrase, notification.get_data.attributes.symbolize_keys) %>"
                        >
                            <%= t(notification.phrase, notification.get_data.attributes.symbolize_keys).truncate(50, separator: /\s/) %>
                        </span>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>