<% @projects = GnsProject::Project.get_waiting_projects.order('created_at desc') %>

<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title"><%= t('.waiting_projects') %></h6>
        <div class="header-elements">
            <span class="badge bg-success badge-pill"><%= GnsProject::Project.get_waiting_projects.count %> <%= t('.project_s') %></span>   
            <div class="list-icons ml-3">
                <a href="#" class="list-icons-item"><i class="icon-sync"></i></a>
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-nowrap"><%= t('.project_name') %></th>
                <th class="text-nowrap"><%= t('.status') %></th>
                <th class="text-nowrap" width="10%"><%= t('.updated_at') %></th>
            </tr>
        </thead>
        <tbody>
            <% @projects.each do |project| %>
                <tr>
                    <td>
                        <a href="<%= gns_project.tasks_backend_projects_path(project) %>"
                            data-popup="tooltip"
                            data-original-title="<%= project.name %> (<%= project.code %>)"
                        >
                            <div class="text-default font-weight-semibold"><%= project.name.truncate(26, separator: /\s/) %></div>
                            <span class="text-muted font-size-sm"><%= project.code %></span>
                        </a>
                    </td>
                    <td>
                        <span class="badge badge-<%= project.status %>"><%= t project.status %></span>
                    </td>
                    <td>
                        <span class="text-muted font-size-sm"><%= project.updated_at.strftime("%d/%m/%Y") %></span>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @projects.empty? %>
        <div class="alert text-center text-warning mb-0">
            <%= t('.alert') %>
        </div>
    <% end %>
</div>
