<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home4 mr-2"></i> <%= t('.home') %> - <%= t('.dashboard') %></a>
<% end %>

<!-- Dashboard content -->
<div class="row">
    <div class="col-xl-8">
        <%= render 'task_statistics_boxes' %>
        <%= render 'todo_list' %>
        <%= render 'wait_for_approval' %>
    </div>
    
    <div class="col-xl-4">
        <%= render 'personal_notes' %>
        <%= render 'waiting_projects' %>
        <%= render 'nearly_expired_projects' %>
        <%= render 'recent_activities' %>
    </div>
</div>