<div class="tab-pane fade" id="tabAttachment">
    <div class="card-group-control card-group-control-left" id="accordion-control">

        <div class="pt-2">
            <h6 class="card-title">
                <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                   href="#gnsProject-attachments">Attachments
                </a>
            </h6>
            
            <div id="gnsProject-attachments" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.create"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.create') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.create">Create/Upload</label>
                                </div>
                            </td>
                            <td>Allow users to <b>create</b> and <b>upload</b> new attachment</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_project.attachments.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.update_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.update_own">Update/Re-upload own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update info</b> or <b>re-upload file</b> their own attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_project.attachments.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.update_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.update_other">Update/Re-upload other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>update info</b> or <b>re-upload file</b> other people's attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.download_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.download_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.download_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.download_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.download_own">Download own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>download</b> their own attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.download_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.download_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.download_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.download_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.download_other">Download other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>download</b> other people's attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.view_logs_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.view_logs_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.view_logs_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.view_logs_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.view_logs_own">View logs own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view logs</b> their own attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.view_logs_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.view_logs_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.view_logs_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.view_logs_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.view_logs_other">View logs other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view logs</b> other people's attachments</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.delete_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.delete_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.delete_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.delete_own') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.delete_own">Delete own</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> their own attachments created</td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.attachments.delete_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.attachments.delete_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.attachments.delete_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.attachments.delete_other') %>
                                    >
                                    <label class="custom-control-label" for="gns_project.attachments.delete_other">Delete other</label>
                                </div>
                            </td>
                            <td>Allow users to <b>delete</b> other people's attachments</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>