<div class="tab-pane fade show active" id="tabTask">
    <div class="card-group-control card-group-control-left" id="accordion-control">

        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsProject-tasks"><%= t('.tasks')%>
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on"><%= t('.select_all')%></button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off"><%= t('.deselect_all')%></button>
                </div>
            </div>
            
            <div id="gnsProject-tasks" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.create]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.create]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.create"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.create') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.create"><%= t('.create_insert')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.create')%></b> <%= t('.or')%> <b><%= t('.insert_below')%></b> <%= t('.a_task')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.create.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.create.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.create.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.read_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.read_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.read_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.read_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.read_own"><%= t('.read_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.view')%></b> <%= t('.their_own_tasks')%></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.read_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.read_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.read_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.read_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.read_other"><%= t('.read_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.view')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_project.tasks.update_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.update_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.update_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.update_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_own"><%= t('.update_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.update')%></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.update_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.update_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.update_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_project.tasks.update_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.update_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.update_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.update_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_other"><%= t('.update_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.update')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                            <div class="form-check form-check-inline form-check-right form-check-switchery">
                                <label class="form-check-label">
                                    <%= t('.notification') %>:
                                    <input type="hidden" name="permissions[gns_project.tasks.update_other.notification]" value="false" />
                                    <input type="checkbox" class="form-check-input-switchery"
                                        name="permissions[gns_project.tasks.update_other.notification]" value="true"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.update_other.notification') %>
                                    >
                                </label>
                            </div>
                        </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.delete_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.delete_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.delete_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.delete_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.delete_own"><%= t('.delete_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.delete')%></b> <%= t('.their_own_tasks_created')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.delete_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.delete_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.delete_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.delete_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.delete_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.delete_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.delete_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.delete_other"><%= t('.delete_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.delete')%></b> <%= t('.the_task_of_others_created')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.delete_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.delete_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.delete_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">                                
                                    <input type="hidden" name="permissions[gns_project.tasks.update_progress_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.update_progress_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.update_progress_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.update_progress_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_progress_own"><%= t('.update_progress_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.update_progress')%></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.update_progress_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.update_progress_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.update_progress_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.update_progress_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.update_progress_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.update_progress_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.update_progress_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.update_progress_other"><%= t('.update_progress_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.update_progress')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.update_progress_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.update_progress_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.update_progress_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.finish_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.finish_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.finish_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.finish_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.finish_own"><%= t('.finish_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.finish')%></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.finish_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.finish_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.finish_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.finish_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.finish_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.finish_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.finish_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.finish_other"><%= t('.finish_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.finish')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.finish_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.finish_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.finish_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.unfinish_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.unfinish_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.unfinish_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.unfinish_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.unfinish_own"><%= t('.unfinish_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.unfinish') %></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.unfinish_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.unfinish_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.unfinish_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.unfinish_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.unfinish_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.unfinish_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.unfinish_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.unfinish_other"><%= t('.unfinish_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.unfinish') %></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.unfinish_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.unfinish_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.unfinish_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.close_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.close_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.close_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.close_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.close_own"><%= t('.close_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.closes')%></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.close_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.close_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.close_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.close_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.close_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.close_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.close_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.close_other"><%= t('.close_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.closes')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.close_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.close_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.close_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.reopen_own]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.reopen_own]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.reopen_own"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.reopen_own') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.reopen_own"><%= t('.reopen_own')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.reopen')%></b> <%= t('.their_own_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.reopen_own.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.reopen_own.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.reopen_own.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="30%">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.tasks.reopen_other]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.tasks.reopen_other]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.tasks.reopen_other"
                                        <%= 'checked' if @role.has_permission?('gns_project.tasks.reopen_other') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.tasks.reopen_other"><%= t('.reopen_other')%></label>
                                </div>
                            </td>
                            <td><%= t('.allow_users_to')%> <b><%= t('.reopen')%></b> <%= t('.other_peoples_tasks')%></td>
                            <td class="text-right">
                                <div class="form-check form-check-inline form-check-right form-check-switchery">
                                    <label class="form-check-label">
                                        <%= t('.notification') %>:
                                        <input type="hidden" name="permissions[gns_project.tasks.reopen_other.notification]" value="false" />
                                        <input type="checkbox" class="form-check-input-switchery"
                                            name="permissions[gns_project.tasks.reopen_other.notification]" value="true"
                                            <%= 'checked' if @role.has_permission?('gns_project.tasks.reopen_other.notification') %>
                                        >
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>