<table class="table table-hover">
    <thead>
        <tr class="alpha-primary">
            <th>No.</th>
            <th>Document</th>
            <th>Update Date</th>
            <th>Change Description</th>
            <th>Remark</th>
            <th>Changed By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @logs.each_with_index do |log,index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= log.get_data.name %></td>
                <td><%= log.created_at.strftime("%d/%m/%Y - %I:%M %p") %></td>
                <td><%= t(log.phrase, log.get_data.attributes.symbolize_keys) %></td>
                <td><%= log.remark %></td>
                <td><%= log.user_name %></td>
                <td>
                    <div class="list-icons">                        
                        <a class="list-icons-item" title="Download attachment"
                           href="#"
                           target="_blank">
                            <i class="icon-download"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>