<% content_for :title do %>
    <%= t('attachment_logs') %>
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_project.backend_tasks_path %>" class="breadcrumb-item"><%= t('.attachments') %></a>
    <span class="breadcrumb-item active"><%= t('.show') %></span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold"><%= t('.attachments') %></span></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        var attachment_logs_list_box = new ajaxBox(
            $('.attachment-logs-list'),
            '<%= gns_project.logs_list_backend_attachments_path %>'
        );
        
        $(function() {            
            // Danh sach attachment /nhat ky tat ca phien ban
            attachment_logs_list_box.load();
        });
    </script>
<% end %>

<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title"><%= t('.details') %></h6>
        <div class="header-elements">            
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-blocks"><%= t('.task_description') %></label>
                    <div class="form-control font-weight-semibold">
                        <%= @attachment.task.name_with_stage %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-blocks"><%= t('.document_name') %></label>
                    <div class="form-control font-weight-semibold">
                        <%= @attachment.name %>
                    </div>
                </div>s
            </div>
        </div>
        
        <div class="attachment-logs-list" style="position: relative">
            
        </div>
    </div>
</div>